asgiref==3.6.0
backports.zoneinfo==0.2.1
crispy-bootstrap4==2022.1
Django==4.2.1
django-crispy-forms==2.0
fontawesome-free==5.15.4
lxml==4.9.2
mysqlclient==2.1.1
Pillow==9.5.0
PyPDF2==2.11.1
python-docx==0.8.11
reportlab==3.6.12
sqlparse==0.4.4
typing_extensions==4.5.0
