
{% block author %}
    Estimad@ {{ requester }}:
{% endblock %}
{% block message %}
    {% if message_type == 'request_received' %}
        Su solicitud de ingreso a {{ program }}, en {{ protocol }}://{{ domain }}/{{ program.slug }} ha sido recibida.
        Por motivos de seguridad usted debe confirmarla accediendo a
        {{ protocol }}://{{ domain }}/{{ program.slug }}/request/confirm/{{ requester.request_id }}
        . Este enlace solo funciona una vez.

    {% endif %}
{% endblock %}
{% block information %}
    Atentamente, Comité Académico de {{ program.full_name }}.

{% endblock %}


