{% extends 'programs/cgc/cgc_base.html' %}
{% load static %}
{% load extra_tags %}


{% block extra_css %}
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'programs/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'programs/dist/css/adminlte.min.css' %}">
{% endblock %}

{% block cgc_content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Proyectos de investigación</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'cgc:cgc_home'  %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Proyectos</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Proyectos de investigación de {{ line }}. </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            {% user_is_cgc_ps user as user_is_program_cs %}

                            <tr>
                                <th>Nombre del proyecto</th>
                                <th>Estudiantes vinculados </th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}

                                <tr id="tr_program_{{ program.id }}">
                                    <td>{{ project.name }}</td>
                                    <td>
                                        <div class="col-md-1">
                                            {% project_students project as project_students%}
                                            <span class="badge {% if project_students != 0 %}badge-primary{% else %}badge-danger{% endif %}" id="a_project_{{ project.id }}" class="" title="Estudiantes vinculados">{{ project_students }} </span>

                                        </div>

                                    </td>



                                </tr>


                            {% endfor %}




                            </tbody>
                            <tfoot>
                            {#                            <tr>#}
                            {#                                <th>Nombre y apellidos</th>#}
                            {#                                <th>Fecha solicitud</th>#}
                            {#                                <th>Estado</th>#}
                            {#                                <th class="text-center">Requisitos</th>#}
                            {#                                <th></th>#}
                            {#                            </tr>#}
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        {% csrf_token %}
        <!-- /.row -->
    </section>
    <!-- /.content -->
    </div>
{% endblock %}
{% block extra_scripts %}
    <!-- jQuery -->
    <!-- Bootstrap 4 -->
    <!-- DataTables -->
    <script src="{% static 'programs/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'programs/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>



    <!-- AdminLTE App -->
    {#    <script src="{% static 'programs/dist/js/adminlte.min.js' %}"></script>#}
    <!-- AdminLTE for demo purposes -->
    {#    <script src="{% static 'programs/dist/js/demo.js' %}"></script>#}
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                language: {
                    url: '{% static "programs/plugins/datatables/Spanish.json" %}'
                }});
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
        $(document).ready(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 7000
            });
            $('[data-toggle="popover"]').popover();



        })
    </script>
{% endblock %}
</body>
</html>
