{% extends 'programs/cgc/cgc_base.html' %}
{% load static %}
{% load extra_tags %}

{% block cgc_content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Agregar nueva acta</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'cgc:cgc_home' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Nueva acta</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Acta</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post" enctype="multipart/form-data" action="{% url 'cgc:create_cgc_brief' %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-row align-items-center">
                                    <div class="form-group col-md-4">
                                        <label for="slc_months">Mes:</label>
                                        <select class="form-control" id="slc_months" name="month">
                                            <option value="" selected>Seleccione una opción</option>
                                            {% for month in months %}
                                                <option value="{{ month }}" {% if current_month == month %}selected{% endif %}>{{month}}</option>

                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="slc_years">Año:</label>
                                        <select class="form-control" id="slc_years" name="year">
                                            <option value="" selected>Seleccione una opción</option>
                                            {% for year in years %}
                                                <option value="{{ year }}" {% if current_year == year %}selected{% endif %}>{{ year }}</option>

                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="exampleInputFile">Acta:</label>
                                        <input type="file" class="form-control-file" id="exampleInputFile" name="brief" accept=".doc, .docx, .odt, .pdf" required>
                                    </div>

                                </div>




                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->



                    <!-- /.card -->

                    <!-- Input addon -->
                    <!-- /.card -->
                    <!-- Horizontal Form -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
</body>
</html>
