{% extends 'programs/postg/postg_base.html' %}
{% load static %}
{% load extra_tags %}


{% block extra_css %}
    <!-- Ionicons -->
    {# <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}"> #}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'programs/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'programs/dist/css/adminlte.min.css' %}">
{% endblock %}

{% block cgc_content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Documentos</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'cgc:cgc_home'  %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Documentos</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Documentos de la Dirección de Posgrado </h3>
                        <div class="card-tools">
                            {#                                <button type="button" class="btn btn-tool" data-card-widget="collapse">#}
                            {#                                    <i class="fas fa-minus"></i>#}
                            {#                                </button>#}
                            <div class="btn-group">
                                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-wrench"></i>
                                </button>

                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a href="{% url 'postg:documents' 'brief' %}" class="dropdown-item">Actas</a>
                                    <a href="{% url 'postg:documents' 'reports' %}" class="dropdown-item">Informes</a>
                                    <a href="{% url 'postg:documents' 'resolutions' %}" class="dropdown-item">Resoluciones</a>
                                    <a href="{% url 'postg:documents' 'all' %}" class="dropdown-item">Todos</a>

                                </div>

                            </div>
                            {#                  <button type="button" class="btn btn-tool" data-card-widget="remove">#}
                            {#                    <i class="fas fa-times"></i>#}
                            {#                  </button>#}
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>

                            <tr>
                                <th>Tipo</th>
                                <th>Año </th>
                                <th>Mes </th>
                                <th>Descripción </th>
                                <th> </th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for document in documents %}

                                <tr id="tr_document_{{ document.id }}">
                                    <td>{{document.type|capfirst }}</td>
                                    <td>{{document.year }}</td>
                                    <td>{{document.month }}</td>
                                    <td>{{document.description|truncatewords:5 }}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-primary" href="{% url 'postg:view_document' document.id %}" title="Descargar documento"><i class="fa fa-download"></i> </a>
                                            <a class="btn btn-sm btn-warning" href="{% url 'postg:edit_document' document.id %}" title="Editar documento"><i class="fa fa-edit"></i> </a>
                                            <button class="btn btn-sm btn-danger" type="button" data-toggle="modal" data-target="#modal_rm_document_{{ document.id }}" title="Eliminar documento"><i class="fa fa-eraser"></i> </button>

                                        </div>
                                    </td>



                                </tr>

                                <div class="modal fade" id="modal_rm_document_{{ document.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Eliminar documento</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <span class="text-danger"><i class="fa fa-exclamation-triangle fa-4x"></i></span>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <p class="text-center">¿Seguro que desea eliminar el/la {{ document.type|capfirst }} de {{ document.month }} del {{ document.year }}?<br>Esto no se puede deshacer&hellip;</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger " data-dismiss="modal" data="{{  document.id }}" id="btn_rm_document_{{ document.id }}">Eliminar</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>


                            {% endfor %}




                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        {% csrf_token %}
        <!-- /.row -->
    </section>
    <!-- /.content -->
    </div>
{% endblock %}
{% block extra_scripts %}
    <!-- jQuery -->
    <!-- Bootstrap 4 -->
    <!-- DataTables -->
    <script src="{% static 'programs/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'programs/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>



    <!-- AdminLTE App -->
    {#    <script src="{% static 'programs/dist/js/adminlte.min.js' %}"></script>#}
    <!-- AdminLTE for demo purposes -->
    {#    <script src="{% static 'programs/dist/js/demo.js' %}"></script>#}
    <!-- page script -->
    <script>

        $(document).ready(function () {
            var myTable = $("#example1").DataTable({
                language: {
                    url: '{% static "programs/plugins/datatables/Spanish.json" %}'
                }});

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 7000
            });

            {% for document in documents %}
                $('#btn_rm_document_{{ document.id }}').click(function () {

                    var document_id={{ document.id }};
                    var url = "{% url 'postg:ajx_delete_document' %}";

                    $('#modal_rm_document_{{ document.id }}').modal('hide');

                    $.ajax({
                        url : url,
                        type : "POST", // http method
                        data : {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                            'document_id':document_id,
                        }, // data sent with the post request

                        // handle a successful response
                        success : function(json) {

                            if (json[0].deleted == 1) {
                                var row = myTable.row( $('#tr_document_{{ document.id }}') );
                                row.remove().draw();

                                Toast.fire({
                                    type: 'success',
                                    title: 'Documento eliminado exitósamente'
                                })

                            } else if(json[0].deleted == 0){
                                Toast.fire({
                                    type: 'error',
                                    title: 'No se ha podido eliminar el documento seleccionado.'
                                })

                            }
                            else if(json[0].deleted == 2){
                                Toast.fire({
                                    type: 'error',
                                    title: 'Usted no tiene privilegios para eliminar documentos de la Dir. de Posgrado.'
                                })

                            }
                            console.log(json); // log the returned json to the console
                            console.log("success"); // another sanity check




                            $('#div_by_workshop').removeClass('hidden')

                        },

                        // handle a non-successful response
                        error : function(xhr,errmsg,err) {
                            Toast.fire({
                                type: 'error',
                                title: 'Uff, ha ocurrido algo desconocido.'
                            })
                        }
                    });

                });
            {% endfor %}



        })
    </script>
{% endblock %}
</body>
</html>
