{% extends 'programs/base.html' %}
{% load static %}
{% load extra_tags %}


{% block extra_css %}
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'programs/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'programs/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'programs/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">

{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>{% if program.type == 'phd' %}Componentes evaluativos de {{ program }}{%  else %} Cursos de la {{ edition }} edición de {{ program }}{% endif %} </h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'programs:home' program.slug %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">{% if program.type == 'phd' %}Componentes evaluativos{% else  %}Cursos {% endif %}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% if program.type == 'phd' %}Componentes{% else %}Cursos{% endif %}</h3>
                        <div class="card-tools">
                            {#                                <button type="button" class="btn btn-tool" data-card-widget="collapse">#}
                            {#                                    <i class="fas fa-minus"></i>#}
                            {#                                </button>#}
                            {% if program.type != 'phd' %}
                                <div class="btn-group">
                                    <a type="button" class="btn btn-tool " href="{% url 'programs:print_edition_courses_registers' program.slug edition.id %}" title="Descargar todas las actas." >
                                        <i class="fa fa-print"></i>
                                    </a>

                                </div>
                            {% endif %}
                            {#                  <button type="button" class="btn btn-tool" data-card-widget="remove">#}
                            {#                    <i class="fas fa-times"></i>#}
                            {#                  </button>#}
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            {% user_is_program_cs user program as user_is_program_cs %}

                            <tr>
                                <th>Nombre</th>
                                <th class="text-center">Descripción</th>
                                {% if program.type != 'phd' %}
                                    <th class="text-center">Profesores</th>
                                {% endif %}

                                {% if user_is_program_cs %}
                                    <th></th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for component in components %}
                                <tr id="tr_component_{{ component.id }}">
                                    <td><p>{{ component.name|truncatewords:10 }}</p> </td>
                                    <td><p class="text-justify">{{ component.description|truncatewords:10 }}</p> </td>
                                    {% if program.type != 'phd' %}
                                        <td class="text-left">{{ component.courseprofessor_set.all|unordered_list }}</td>
                                    {% endif %}


                                    {% if user_is_program_cs %}
                                        <td class="text-center">
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-primary btn-sm text-white " href="" title="Descargar acta." ><i class="fa fa-print"></i></a>
                                                <a class="btn btn-warning btn-sm text-white" href="{% url 'programs:edit_program_course' program.slug component.id %}" title="Editar"> <i class="fa fa-edit"></i></a>
                                                <a class="btn btn-danger btn-sm text-white"  title="Eliminar" data-toggle="modal" data-target="#modal_rm_component_{{ component.id }}"><i class="fa fa-eraser"></i></a>

                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                                <div class="modal fade" id="modal_rm_component_{{ component.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Eliminar componente</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <span class="text-danger"><i class="fa fa-exclamation-triangle fa-4x"></i></span>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <p class="text-center">¿Seguro que desea eliminar este componente evaluativo:<br><strong>{{ component|truncatewords:5 }}</strong>?<br>Esto no se puede deshacer&hellip;</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_rm_component_{{ component.id }}">Eliminar</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>

                            {% endfor %}




                            </tbody>
                            <tfoot>
                            {#                            <tr>#}
                            {#                                <th>Nombre y apellidos</th>#}
                            {#                                <th>Fecha solicitud</th>#}
                            {#                                <th>Estado</th>#}
                            {#                                <th class="text-center">Requisitos</th>#}
                            {#                                <th></th>#}
                            {#                            </tr>#}
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        {% csrf_token %}
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block extra_scripts %}
    <!-- jQuery -->
    <script src="{% static 'programs/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'programs/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'programs/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <!-- page script -->
    <script>
        $(document).ready(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 7000
            });

            var myTable= $("#example1").DataTable({
                language: {
                    url: '{% static "programs/plugins/datatables/Spanish.json" %}'
                }});




            {% for component in components %}
                $('#btn_rm_component_{{ component.id }}').click(function () {
                    var component_id={{ component.id }};
                    var url = "{% url 'programs:ajx_delete_course' program.slug %}";

                    {#$('#modal_rm_line_{{ line.id }}').modal('hide');#}

                    $.ajax({
                        url : url,
                        type : "POST", // http method
                        data : {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                            'component_id':component_id,
                        }, // data sent with the post request

                        // handle a successful response
                        success : function(json) {

                            if (json[0].deleted == 1) {

                                var row = myTable.row( $('#tr_component_{{ component.id }}') );
                                row.remove().draw();

                                Toast.fire({
                                    type: 'success',
                                    title: 'Componente eliminado exitosamente'
                                });

                            } else if(json[0].deleted == 0){
                                Toast.fire({
                                    type: 'error',
                                    title: 'No se ha podido eliminar el componente seleccionado.'
                                })

                            }
                            else if(json[0].deleted == 2){
                                Toast.fire({
                                    type: 'error',
                                    title: 'Usted no puede eliminar el componente seleccionado.'
                                })

                            }
                            console.log(json); // log the returned json to the console
                            console.log("success"); // another sanity check




                            {#$('#div_by_workshop').removeClass('hidden')#}

                        },

                        // handle a non-successful response
                        error : function(xhr,errmsg,err) {
                            Toast.fire({
                                type: 'error',
                                title: 'Uff, ha ocurrido algo desconocido.'
                            })
                        }
                    });

                });
            {% endfor %}

        });
    </script>
{% endblock %}
