{% extends 'programs/base.html' %}
{% load static %}
{% load extra_tags %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Agregar curso</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'programs:home' program.slug %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Nuevo curso</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Curso</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                    <section id="new_course">
                        <form role="form" method="post" enctype="multipart/form-data" action="{% url 'programs:create_edition_course' program.slug edition.id %}">
                            {% csrf_token %}
                            <div class="card-body">
                                {% if edition.order != 1 %}
                                    <div class="form-row" >
                                        <div class="form-group col-md-6">
                                            <label for="slc_edition">Importar cursos de ediciones previas:</label>
                                            <select class="form-control" id="slc_edition" name="edition">
                                                <option value="" selected>Seleccione una edición</option>
                                                {% for edition in editions %}
                                                    <option value="{{ edition.id }}"  >{{ edition }}a edición</option>




                                                {% endfor %}

                                            </select>
                                        </div>



                                    </div>
                                    <div class="form-row invisible" id="div_confirm_import">
                                        <div class="col-md-6" id="div_confirm_import">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="chk_import"> Confirme que desea importar cursos
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="inp_name">Nombre del curso:</label>
                                            <input class="form-control" id="inp_name" name="course_name" placeholder="Nombre del curso." maxlength="250" >
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="txt_description">Descripción:</label>
                                            <textarea class="form-control" id="txt_description" name="course_description" placeholder="Descripción del curso" maxlength="500" rows="5" ></textarea>
                                        </div>

                                    </div>
                                    <div class="form-row">

                                        <div class="form-group col-md-6">
                                            <label for="inp_init_date">Fecha de inicio:</label>
                                            <input type="date" class="form-control" id="inp_init_date" name="init_date" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inp_end_date">Fecha de fin:</label>
                                            <input type="date" class="form-control" id="inp_end_date" name="end_date" >
                                        </div>

                                    </div>
                                    <hr>
                                <h5><strong>Profesores:</strong></h5>
                                <div class="form-row align-items-center pb-2" id="div_tuthor_1">
                                    <div class="col-md-3">
                                        <input type="email" class="form-control" id="inp_prof_email_1" data="1" name="prof_email_1" placeholder="Email del profesor" required></input>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" readonly id="inp_prof_name_1" name="prof_name_1" placeholder="Nombre(s) del profesor" required></input>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" readonly id="inp_prof_lastname_1" name="prof_lastname_1" placeholder="Apellidos del profesor" required></input>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" readonly id="inp_prof_institution_1" name="prof_institution_1" placeholder="Institución del profesor" required></input>
                                    </div>
                                    <div class="col-md-1 pl-4 ">
                                        <button type="button" class="text-white btn btn-sm btn-warning" id="btn_add_prof" title="Agregar profesor"><i class="fa fa-plus"></i> </button>
                                    </div>


                                </div>






                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" id="btn_save" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </section>
                    </div>
                    <!-- /.card -->



                    <!-- /.card -->

                    <!-- Input addon -->
                    <!-- /.card -->
                    <!-- Horizontal Form -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block extra_scripts %}
    {#<!-- jQuery -->#}
    {#<script src="../../plugins/jquery/jquery.min.js"></script>#}
    {#<!-- Bootstrap 4 -->#}
    {#<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>#}
    {#<!-- bs-custom-file-input -->#}
    {#<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>#}
    {#<!-- AdminLTE App -->#}
    {#<script src="../../dist/js/adminlte.min.js"></script>#}
    {#<!-- AdminLTE for demo purposes -->#}
    {#<script src="../../dist/js/demo.js"></script>#}
    <script src="{% static 'programs/plugins/sweetalert2/sweetalert2.min.js' %}"></script>

    <script >
        $(document).ready(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 7000
            });
            var edition = 0;
             $(document).on('keyup', "input[name*='prof_email']", function () {
                var index = $(this).attr('data');
                var email = $(this).val();
                var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                if(emailReg.test( email ) && email != ''){
                    var url = "{% url 'programs:ajx_program_member_tuthor' program.slug %}"
                    $.ajax({
                        url : url,
                        type : "POST", // http method
                        data : {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                            'tuthor_email':email,
                        }, // data sent with the post request

                        // handle a successful response
                        success : function(json) {

                            if (json[0] == 1) {

                                $('#inp_prof_name_'+index).attr('readonly','readonly');
                                $('#inp_prof_lastname_'+index).attr('readonly','readonly');
                                $('#inp_prof_institution_'+index).attr('readonly','readonly');
                                $('#inp_prof_name_'+index).val(json[1][0]);
                                $('#inp_prof_lastname_'+index).val(json[1][1]);
                                $('#inp_prof_institution_'+index).val(json[1][2]);

                            } else if(json[0] == 0){
                                $(this).value('');
                                $('#inp_prof_name_'+index).attr('value','');
                                $('#inp_prof_lastname_'+index).attr('value','');
                                $('#inp_prof_institution_'+index).attr('value','');

                                Toast.fire({
                                    type: 'error',
                                    title: 'No existe miembro del claustro con ese email, debe agregarlo previamente.'
                                });


                            }
                            console.log(json); // log the returned json to the console
                            console.log("success"); // another sanity check




                            {#$('#div_by_workshop').removeClass('hidden')#}

                        },

                        // handle a non-successful response
                        error : function(xhr,errmsg,err) {
                            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        }
                    });
                }
                else{
                    $('#inp_tuthor_name_'+index).attr('readonly','readonly');
                    $('#inp_tuthor_lastname_'+index).attr('readonly','readonly');
                    $('#inp_tuthor_institution_'+index).attr('readonly','readonly');

                }
            });

            $('#slc_edition').change(function () {
                edition = $(this).val();
                {#alert(edition);#}
                $('#div_confirm_import').removeClass('invisible');

            });
            $(document).on('click','#chk_import',function (e) {

                if(this.checked){
                    var edition_id=edition;
                    var url = "{% url 'programs:ajx_import_courses' program.slug  edition.id %}";

                    {#$('#modal_rm_line_{{ line.id }}').modal('hide');#}

                    $.ajax({
                        url : url,
                        type : "POST", // http method
                        data : {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                            'edition_id':edition_id,
                        }, // data sent with the post request

                        // handle a successful response
                        success : function(json) {


                            if (json[0].imported == 1) {




                                Toast.fire({
                                    type: 'success',
                                    title: 'Cursos importados exitosamente'
                                });
                                var div='<div id="imported_courses" class="jumbotron"><h5>Cursos importados:</h5><ol>'
                                alert(json[1].length);

                                for (var i = 0; i <json[1].length; i++ ){

                                    div = div+'<li><h6>'+json[1][i]+'</h6></li>';
                                }
                                div =div + '</ol></div>'
                                $('#new_course').replaceWith($(div));
                                $('#btn_save').remove();

                            } else if(json[0].imported == 0){
                                Toast.fire({
                                    type: 'error',
                                    title: 'No se ha podido importar los cursos de la edicion seleccionada.'
                                })

                            }
                            else if(json[0].imported == 2){
                                Toast.fire({
                                    type: 'error',
                                    title: 'Usted no puede importar cursos.'
                                })

                            }
                            console.log(json); // log the returned json to the console
                            console.log("success"); // another sanity check




                            {#$('#div_by_workshop').removeClass('hidden')#}

                        },

                        // handle a non-successful response
                        error : function(xhr,errmsg,err) {
                            Toast.fire({
                                type: 'error',
                                title: 'Uff, ha ocurrido algo desconocido.'
                            })
                        }
                    });

                }


            })
        });
    </script>
{% endblock %}
</body>
</html>
