{% extends 'programs/base.html' %}
{% load static %}
{% load extra_tags %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Agregar nueva acta de {{ program }}</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'cgc:cgc_home' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Nueva acta</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Acta</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post" enctype="multipart/form-data" action="{% url 'programs:create_program_brief' program.slug %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-row align-items-center">
                                    <div class="form-group col-md-4">
                                        <label for="slc_years">Año:</label>
                                        <select class="form-control" id="slc_years" name="year" required>
                                            <option value="" selected>Seleccione una opción</option>
                                            {% for year in years %}
                                                <option value="{{ year }}" {% if current_year == year %}selected{% endif %}>{{ year }}</option>

                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">

                                        <label for="slc_months">Mes:</label>
                                        <select class="form-control" id="slc_months" name="month" required>
                                            <option value="" selected>Seleccione una opción</option>

                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="exampleInputFile">Acta:</label>
                                        <input type="file" class="form-control-file" id="exampleInputFile" name="brief" accept=".doc, .docx, .odt, .pdf" required>
                                    </div>

                                </div>




                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->



                    <!-- /.card -->

                    <!-- Input addon -->
                    <!-- /.card -->
                    <!-- Horizontal Form -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block extra_scripts %}
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>

    <script>
        $(document).ready(function () {
            var today = new Date();

            var mm = today.getMonth(); //January is 0!
            var yyyy = today.getFullYear();
            var meses =[ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre","Octubre", "Noviembre", "Diciembre" ];

            for(var i = 0; i<= mm;i++){
                if(i==mm){
                    var option = '<option value="'+meses[i]+'"selected >'+meses[i]+'</option>';
                }
                else{
                    var option = '<option value="'+meses[i]+'" >'+meses[i]+'</option>';

                }

                $('#slc_months').append(option);


            }



            $('#slc_years').change(function () {

                $('#slc_months option').remove();
                $('#slc_months').append('<option value="" selected>Seleccione una opción</option>');

                if($(this).val()== yyyy){
                    for(var i = 0; i<= mm;i++){
                        if(i==mm){
                            var option = '<option value="'+meses[i]+'"selected >'+meses[i]+'</option>';
                        }
                        else{
                            var option = '<option value="'+meses[i]+'" >'+meses[i]+'</option>';

                        }

                        $('#slc_months').append(option);


                    }

                }
                else {
                    for(var i = 0; i< meses.length; i++){

                        var option = '<option value="'+meses[i]+'">'+meses[i]+'</option>';
                        $('#slc_months').append(option);

                    }
                }

            });
        });
    </script>
{% endblock %}
</body>
</html>
