{% extends 'programs/base.html' %}
{% load static %}
{% load extra_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'programs/plugins/toastr/toastr.min.css' %}">
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Agregar estudiante</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'programs:home' program.slug %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Crear estudiante</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Estudiante</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post" enctype="multipart/form-data" action="{% url 'programs:create_dip_student' program.slug edition.id %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inp_name">Nombre(s):</label>
                                        <input type="text" class="form-control" id="inp_name" name="student_name" placeholder="Nombre(s)" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inp_name">Apellidos:</label>
                                        <input type="text" class="form-control" id="inp_surename" name="student_surename" placeholder="Apellidos" required>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inp_dni">DNI:</label>
                                        <input type="text" class="form-control" id="inp_dni" name="student_dni" placeholder="DNI o pasaporte" maxlength="24" required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="slc_gender">Género:</label>
                                        <select class="form-control" id="slc_gender" name="gender" required>
                                            <option value="" >Seleccione una opción</option>
                                            <option value="f"  >Femenino</option>
                                            <option value="m" >Masculino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="inp_birth_date">Fecha de nacimiento:</label>
                                        <input type="date" class="form-control" id="inp_birth_date"  name="student_birth_date" placeholder="Fecha de nacimiento" max="{% max_year_birth_date %}-01-01" required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inp_email">Email:</label>
                                        <input type="email" class="form-control" id="inp_email"  name="student_email" placeholder="Email" required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inp_phone">Teléfono:</label>
                                        <input type="text" class="form-control" id="inp_phone"  name="student_phone" placeholder="Teléfono" >
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="slc_country">País:</label>
                                        <select class="form-control" id="slc_country" name="student_country" required>
                                            {% country_list as country_list%}
                                            {% for country in country_list %}
                                                <option value="{{ country }}" {% if country == 'Cuba' %}selected{% endif %}>{{ country }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <hr>
{#                                <h4><strong>Tema de investigación:</strong></h4>#}
{##}
{#                                <div class="form-row">#}
{#                                    <div class="form-group col-md-12">#}
{#                                        <label for="txt_theme">Tema:</label>#}
{#                                        <textarea class="form-control" id="txt_theme" name="theme" placeholder="Tema de investigacion" maxlength="500" rows="5"></textarea>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-row">#}
{#                                    <div class="form-group col-md-12">#}
{#                                        <label for="slc_project">Proyecto asociado:</label>#}
{#                                        <select class="form-control" id="slc_project" name="investigation_project" >#}
{#                                            <option value="" >Seleccione una opción</option>#}
{##}
{#                                            {% for project in projects %}#}
{#                                                <option value="{{ project.id }}" >{{ project|truncatewords:10 }}</option>#}
{#                                            {% endfor %}#}
{##}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{##}
{#                                <hr>#}
{#                                <h4><strong>Requisitos de ingreso:</strong></h4>#}
{#                                <div class="form-row">#}
{#                                    <div class="form-group">#}
{#                                        {% for requirement in init_requirements %}#}
{##}
{#                                            <div class="form-check">#}
{#                                                <input type="checkbox" class="form-check-input" id="inp_requirement_{{ requirement.id }}" name="student_requirement_{{ requirement.id }}">#}
{##}
{#                                                <label class="form-check-label" for="inp_requirement_{{ requirement.id }}">{{ requirement.name }}</label>#}
{#                                            </div>#}
{##}
{##}
{#                                        {% endfor %}#}
{#                                        <div class="help">#}
{#                                            <p class="text-gray text-sm">Marcar sólo si el requerimiento está cumplido</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Foto:</label>
                                        <input type="file" class="form-control-file" id="exampleInputFile" name="picture" accept="image/*">
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->



                    <!-- /.card -->

                    <!-- Input addon -->
                    <!-- /.card -->
                    <!-- Horizontal Form -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
{% block extra_scripts %}

    <script src="{% static 'programs/plugins/toastr/toastr.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 7000
            });
            {#bsCustomFileInput.init();#}


            $(document).on('keyup','#inp_email', function () {
                var email = $(this).val();
                var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                if(emailReg.test( email ) && email != ''){
                    var url = "{% url 'programs:ajx_student_exists' program.slug %}"
                    $.ajax({
                    url : url,
                    type : "POST", // http method
                    data : {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                        'email':$('#inp_email').val(),
                    }, // data sent with the post request

                    // handle a successful response
                    success : function(json) {

                        if (json[0].exists == 1) {

                            Toast.fire({
                                type: 'error',
                                title: 'Ya hay un estudiante de este programa con ese correo.'
                            })

                        } else if(json[0].exists == 0){
                            Toast.fire({
                                type: 'error',
                                title: 'Uff, ha ocurrido un error desconocido'
                            })

                        }
                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check




                        {#$('#div_by_workshop').removeClass('hidden')#}

                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
                };



            });

            $(document).on('change','#exampleInputFile', function () {
                var fileUpload = this;
                var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");
                if (regex.test(fileUpload.value.toLowerCase())) {
                    if (typeof (fileUpload.files) != "undefined") {
                        var reader = new FileReader();
                        reader.readAsDataURL(fileUpload.files[0]);
                        reader.onload = function (e) {
                            var image = new Image();
                            image.src = e.target.result;
                            image.onload = function () {
                                var height = this.height;
                                var width = this.width;
                                if (height < 200 || width < 200) {
                                    Toast.fire({
                                        type: 'error',
                                        title: 'La imagen seleccionada es muy pequeña, debe tener al menos 400px x 400 px'
                                    });
                                    $('#exampleInputFile').val('');
                                    return false;
                                }else
                                if(height != width ){
                                    Toast.fire({
                                        type: 'error',
                                        title: 'La imagen seleccionada debe ser cuadrada y de dimensión 200px, o superior.'
                                    });
                                    $('#exampleInputFile').val('');
                                    return false;
                                }
                            };
                        }
                    } else {
                       Toast.fire({
                                        type: 'error',
                                        title: 'Este navegador no soporta HTML5, debe actualizarlo.'
                                    });
                        return false;
                    }
                } else {
                    Toast.fire({
                                        type: 'error',
                                        title: 'Por favor seleccione una imagen.'
                                    });
                    return false;
                }
            });

        });
    </script>
{% endblock %}

