{% extends 'programs/base.html' %}
{% load static %}
{% load extra_tags %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Agregar edición</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'programs:home' program.slug %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Crear edición</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Edición</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post" enctype="multipart/form-data" action="{% url 'programs:create_program_edition' program.slug %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-row">

                                    <div class="form-group col-md-6">
                                        <label for="inp_init_date">Fecha de inicio:</label>
                                        <input type="date" class="form-control" id="inp_init_date" name="init_date" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inp_end_date">Fecha de fin:</label>
                                        <input type="date" class="form-control" id="inp_end_date" name="end_date" required>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inp_name">Observaciones:</label>
                                        <textarea class="form-control" id="inp_name" name="observations" placeholder="Observaciones necesarias" maxlength="250" rows="5" ></textarea>
                                    </div>

                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->



                    <!-- /.card -->

                    <!-- Input addon -->
                    <!-- /.card -->
                    <!-- Horizontal Form -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}

<!-- jQuery -->
{% block extra_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 7000
            });
            $('#inp_init_date').change(function () {
                $('#inp_end_date').removeAttr('readonly');
                if($('#inp_end_date').val() != '' && $(this).val()>=$('#inp_end_date').val()) {
                    Toast.fire({
                        type: 'error',
                        title: 'La fecha de fin de la edición debe ser mayor que la de inicio.'
                    });
                    $(this).val('');
                }

            })
            $('#inp_end_date').change(function () {
                if($(this).val()<=$('#inp_init_date').val()) {
                    Toast.fire({
                        type: 'error',
                        title: 'La fecha de fin de la edición debe ser mayor que la de inicio.'
                    });
                    $(this).val('');
                }


            })
        });
    </script>
{% endblock %}
</body>
</html>
