{% extends 'programs/base.html' %}
{% load static %}
{% load extra_tags %}


{% block extra_css %}
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'programs/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'programs/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'programs/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">

{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ediciones de {{ program }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'programs:home' program.slug %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Ediciones</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Ediciones</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            {% user_is_program_cs user program as user_is_program_cs %}

                            <tr>
                                <th class="text-center">Orden</th>
                                <th class="text-center">Oservaciones</th>
                                <th class="text-center">Fecha<br>inicio</th>
                                <th class="text-center">Fecha<br>fin</th>
                                <th class="text-center">Estudiantes</th>

                                {% if user_is_program_cs %}
                                    <th></th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for edition in editions %}
                                <tr id="tr_edition_{{ edition.id }}">
                                    <td class="text-center">{{ edition.order }}</td>
                                    <td class="text-center">{{ edition.observations|truncatewords:10 }}</td>
                                    <td class="text-center">{{ edition.init_date|date:'Y/m/d' }}</td>
                                    <td class="text-center">{{ edition.end_date|date:'Y/m/d' }}</td>
                                    <td class="text-center text-lg">
                                        <span class="badge badge-info">
                                            {{ edition.mscstudent_set.all.count }}
                                        </span>
                                    </td>

                                    {% if user_is_program_cs %}
                                        <td class="text-center">
                                            <div class="btn-group" role="group">

                                                <a class="btn btn-primary btn-sm text-white" href="" title="Agregar estudiante"> <i class="fa fa-users"></i></a>
                                                <a class="btn btn-warning btn-sm text-white" href="" title="Editar"> <i class="fa fa-edit"></i></a>
                                                <a class="btn btn-danger btn-sm text-white"  title="Eliminar" data-toggle="modal" data-target="#modal_rm_edition_{{ edition.id }}"><i class="fa fa-eraser"></i></a>

                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                                <div class="modal fade" id="modal_rm_edition_{{ edition.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Eliminar edición</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <span class="text-danger"><i class="fa fa-exclamation-triangle fa-4x"></i></span>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <p class="text-center">¿Seguro que desea eliminar la edición {{ edition.order }}?<br>Esto no se puede deshacer&hellip;</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_rm_edition_{{ edition.id }}">Eliminar</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>

                            {% endfor %}




                            </tbody>
                            <tfoot>
                            {#                            <tr>#}
                            {#                                <th>Nombre y apellidos</th>#}
                            {#                                <th>Fecha solicitud</th>#}
                            {#                                <th>Estado</th>#}
                            {#                                <th class="text-center">Requisitos</th>#}
                            {#                                <th></th>#}
                            {#                            </tr>#}
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    {% csrf_token %}
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block extra_scripts %}
    <!-- jQuery -->
    <!-- jQuery -->
    <script src="{% static 'programs/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'programs/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'programs/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <!-- page script -->
    <script>
        $(document).ready(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 7000
            });

            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });



            {% for project in projects %}
                $('#btn_rm_project_{{ project.id }}').click(function () {
                    var project_id={{ project.id }};
                    var url = "{% url 'programs:ajx_delete_project' program.slug %}";


                    $.ajax({
                        url : url,
                        type : "POST", // http method
                        data : {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                            'project_id':project_id,
                        }, // data sent with the post request

                        // handle a successful response
                        success : function(json) {

                            if (json[0].deleted == 1) {

                                $('#tr_project_{{ project.id }}').remove();

                                Toast.fire({
                                    type: 'success',
                                    title: 'Proyecto eliminado exitosamente'
                                });

                            } else if(json[0].deleted == 0){
                                Toast.fire({
                                    type: 'error',
                                    title: 'No se ha podido eliminar el proyecto seleccionado.'
                                })

                            }
                            console.log(json); // log the returned json to the console
                            console.log("success"); // another sanity check




                            {#$('#div_by_workshop').removeClass('hidden')#}

                        },

                        // handle a non-successful response
                        error : function(xhr,errmsg,err) {
                            Toast.fire({
                                type: 'error',
                                title: 'Uff, ha ocurrido algo desconocido.'
                            })
                        }
                    });

                });
            {% endfor %}

        });
    </script>
{% endblock %}

