{% extends 'programs/base.html' %}
{% load static %}
{% load extra_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'programs/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Editar ajustes del programa</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'programs:home' program.slug %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Editar programa</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Programa</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post" enctype="multipart/form-data" action="{% url 'programs:edit_program' program.slug %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inp_fullname">Nombre completo:</label>
                                        <input type="text" class="form-control" id="inp_fullname" name="program_fullname" placeholder="Nombre completo del programa" maxlength="150" value="{{ program.full_name }}" required>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inp_shortname">Nombre corto:</label>
                                        <input type="text" class="form-control" id="inp_shortname" name="program_shortname" placeholder="Nombre corto del programa" maxlength="40" value="{{ program.short_name }}" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inp_email">Correo del programa:</label>
                                        <input type="email" class="form-control" id="inp_email" name="program_email" placeholder="Correo electrónico del programa" maxlength="" value="{{ program.email }}" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inp_phone">Teléfono:</label>
                                        <input type="tel" class="form-control" id="inp_phone" name="program_phone" placeholder="Teléfono del programa" maxlength="20" value="{{ program.phone }}" required>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inp_address">Dirección postal del programa:</label>
                                        <input type="text" class="form-control" id="inp_address" name="program_address" placeholder="Dirección postal del programa" maxlength="150" value="{{ program.address }}" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inp_center">Centro coordinador:</label>
                                        <input type="text" class="form-control" id="inp_center" name="program_center" placeholder="Centro coordinador del programa" maxlength="120" value="{{ program.center }}" required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="slc_branch">Rama del Programa:</label>
                                        <select class="form-control" id="slc_branch" name="program_branch"  required>
                                            <option value="" selected>Seleccione una opción</option>
                                            <option value="CT" {% if program.branch == 'CT' %}selected{% endif %}>Ciencias Técnicas</option>
                                            <option value="CA" {% if program.branch == 'CA' %}selected{% endif %}>Ciencias Agrícolas</option>
                                            <option value="CP" {% if program.branch == 'CP' %}selected{% endif %}>Ciencias Pedagógicas</option>
                                            <option value="CNE" {% if program.branch == 'CNE' %}selected{% endif %}>Ciencias Naturales y Exactas</option>
                                            <option value="CSH" {% if program.branch == 'CSH' %}selected{% endif %}>Ciencias Sociales y Humanísticas</option>
                                            <option value="CE" {% if program.branch == 'CE' %}selected{% endif %}>Ciencias Económicas</option>
                                            <option value="Arte" {% if program.branch == 'Arte' %}selected{% endif %}>Ciencias del Arte</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inp_code">Código del programa:</label>
                                        <input type="text" class="form-control" id="inp_code" name="program_code" placeholder="Código del programa según clasificador" maxlength="120" value="{{ program.code }}" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row" id="div_backgrounds">
                                    <div class="col-md-11">
                                        <h5>Backgrounds de la portada</h5>

                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_add_program_background" title="Agregar background"><i class="fa fa-plus"></i> </button>
                                    </div>
                                </div>
                                {% if program.programbackgrounds_set.all %}
                                    {% for background in program.programbackgrounds_set.all %}
                                        <div class="row pb-2" id="div_bg_{{ background.id }}">
                                            <div class="col-md-10">
                                                <a class="" id="a_bg_name_{{ background.id }}" href="">{{ background.background.name }}</a>
                                            </div>
                                            <div class="col-md-2 text-center">
                                                <div class="btn-group btn-group-sm">
                                                    <button type="button" class="btn btn-sm btn-warning" id="btn_show_edit_bg_modal_{{ background.id  }}" data-toggle="modal" data-target="#modal_edit_bg" data="{{ background.id }}" title="Cambiar background"><i class="fa fa-edit"></i> </button>
                                                    <button type="button" class="btn btn-sm btn-danger" id="btn_show_rm_bg_modal_{{ background.id  }}" data-toggle="modal" data-target="#modal_rm_bg" data="{{ background.id }}" title="Eliminar background"><i class="fa fa-eraser"></i> </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="row" id="no_bgs">
                                        <div class="alert alert-info col-md-10 offset-1 text-center">
                                            <h5 class="">No se han agregado backgrounds a la portada del programa</h5>
                                        </div>
                                    </div>
                                {% endif %}
                                <hr>
                                <div class="row" id="div_init_requirenments_pres">
                                    <div class="col-md-11">
                                        <h5>Requisitos de ingreso al programa</h5>

                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button type="button" class="btn btn-sm btn-primary" id="btn_add_new_init_r" data-toggle="modal" data-target="#modal_add_new_init_r" title="Agregar requisito de ingreso"><i class="fa fa-plus"></i> </button>
                                    </div>
                                </div>
                                {% if program_init_requirenments %}
                                    <div class="row" id="div_init_requirenments_cols">
                                        <div class="col-md-7"><strong>Nombre del requisito</strong></div>
                                        <div class="col-md-2 text-center"><strong>Responsable</strong></div>
                                        <div class="col-md-1 text-center"><strong>Caduca</strong></div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    {% for filedoc in program_init_requirenments %}

                                        <div class="row pt-1 pb-1 align-items-baseline"id="div_r_{{ filedoc.id }}">
                                            <div class="col-md-7 col-sm-4">
                                                <h6>{{ filedoc.doc_name|truncatewords:6 }}</h6>
                                            </div>
                                            <div class="col-md-2 col-sm-1 text-center">
                                                {% if filedoc.type == 'student' %}
                                                    <i class="text-success fa fa-user" title="Elaborado por el estudiante"></i>
                                                {% elif filedoc.type == 'program' %}
                                                    <i class="text-primary fa fa-user-graduate" title="Elaborado por el Comite del programa"></i>
                                                {% elif filedoc.type == 'comission' %}
                                                    <i class="text-warning fa fa-graduation-cap" title="Elaborado por la Comision de Grados de la Institucion"></i>
                                                {% endif %}
                                            </div>

                                            <div class="col-md-1 col-sm-1 text-center">
                                                {% if filedoc.get_old %}
                                                    <i class="fa fa-toggle-on text-success" title="Si"></i>
                                                {% else %}
                                                    <i class="fa fa-toggle-off text-danger" title="No"></i>

                                                {% endif %}

                                            </div>
                                            <div class="col-md-2 col-sm-4 text-center">
                                                <div class="btn-group btn-group-sm">
                                                    <button type="button" class="btn btn-sm btn-warning" id="btn_edit_r_{{ filedoc.id }}" data="{{ filedoc.id }}" title="Cambiar requisito"><i class="fa fa-edit"></i> </button>
                                                    <button type="button" class="btn btn-sm btn-danger" id="btn_rm_r_{{ filedoc.id }}" data="{{ filedoc.id }}" title="Eliminar requisito"><i class="fa fa-eraser"></i> </button>
                                                </div>
                                            </div>
                                        </div>


                                    {% endfor %}
                                {% else %}
                                    <div class="row">
                                        <div class="alert alert-info col-md-10 offset-1 text-center">
                                            <h5 class="">No se han agregado requisitos de ingreso al programa</h5>
                                        </div>
                                    </div>
                                {% endif %}
                                <hr>
                                <div class="row" id="div_finish_requirenments_pres">
                                    <div class="col-md-11">
                                        <h5>Requisitos de egreso del programa</h5>

                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button type="button" class="btn btn-sm btn-primary" title="Agregar requisito de egreso"><i class="fa fa-plus"></i> </button>
                                    </div>
                                </div>
                                {% if program_finish_requirenments %}
                                    <div class="row" id="div_finish_requirenments_cols">
                                        <div class="col-md-7"><strong>Nombre del requisito</strong></div>
                                        <div class="col-md-2 text-center"><strong>Responsable</strong></div>
                                        <div class="col-md-1 text-center"><strong>Caduca</strong></div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    {% for filedoc in program_finish_requirenments %}

                                        <div class="row pt-1 pb-1 align-items-baseline" id="div_r_{{ filedoc.id }}">
                                            <div class="col-md-7 col-sm-4">
                                                <h6>{{ filedoc.doc_name|truncatewords:6 }}</h6>
                                            </div>
                                            <div class="col-md-2 col-sm-1 text-center">
                                                {% if filedoc.type == 'student' %}
                                                    <i class="text-success fa fa-user" title="Elaborado por el estudiante"></i>
                                                {% elif filedoc.type == 'program' %}
                                                    <i class="text-primary fa fa-user-graduate" title="Elaborado por el Comite del programa"></i>
                                                {% elif filedoc.type == 'comission' %}
                                                    <i class="text-warning fa fa-graduation-cap" title="Elaborado por la Comision de Grados de la Institucion"></i>
                                                {% endif %}
                                            </div>

                                            <div class="col-md-1 col-sm-1 text-center">
                                                {% if filedoc.get_old %}
                                                    <i class="fa fa-toggle-on text-success" title="Si"></i>
                                                {% else %}
                                                    <i class="fa fa-toggle-off text-danger" title="No"></i>

                                                {% endif %}

                                            </div>
                                            <div class="col-md-2 col-sm-4 text-center">
                                                <div class="btn-group btn-group-sm">
                                                    <button type="button" class="btn btn-sm btn-warning" id="btn_edit_r_{{ filedoc.id }}" data="{{ filedoc.id }}" title="Cambiar requisito"><i class="fa fa-edit"></i> </button>
                                                    <button type="button" class="btn btn-sm btn-danger" id="btn_rm_r_{{ filedoc.id }}" data="{{ filedoc.id }}" title="Eliminar requisito"><i class="fa fa-eraser"></i> </button>
                                                </div>


                                            </div>
                                        </div>


                                    {% endfor %}
                                {% else %}
                                    <div class="row" id="div_no_end_requirenments">
                                        <div class="alert alert-info col-md-10 offset-1 text-center">
                                            <h5 class="">No se han agregado requisitos de egreso del programa</h5>
                                        </div>
                                    </div>
                                {% endif %}


                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                        <div class="modal fade" id="modal_add_program_background">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Agregar nueva imagen de fondo</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="frm_add_background" method="post">
                                        {% csrf_token %}
                                        <div class="modal-body alert alert-success">

                                            <div class="form-row align-items-center pb-2" id="div_tuthor_1">
                                                <input type="file" class="form-control-file" id="inp_add_background" name="program_background" placeholder="background" required accept=".jpeg, .jpg, .png">

                                            </div>

                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success" id="btn_add_bg">Enviar</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

                        <div class="modal fade" id="modal_edit_bg">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Editar imagen de fondo</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="frm_edit_background" method="post">
                                        {% csrf_token %}
                                        <div class="modal-body alert alert-success">

                                            <div class="form-row align-items-center pb-2" id="div_tuthor_1">
                                                <input type="hidden" id="inp_bg_id" name="bg_id">
                                                <input type="file" class="form-control-file" id="inp_edit_background" name="program_background" placeholder="background" required accept=".jpeg, .jpg, .png">

                                            </div>



                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success" id="btn_edit_bg">Enviar</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

                        <div class="modal fade" id="modal_rm_bg">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Eliminar background</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <span class="text-danger"><i class="fa fa-exclamation-triangle fa-4x"></i></span>

                                            </div>
                                            <div class="col-md-10">
                                                <p class="text-center" id="p_rm_bg">¿Seguro que desea eliminar la imagen seleccionada?<br>Esto no se puede deshacer&hellip;</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_rm_bg">Eliminar</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

                        <div class="modal fade" id="modal_add_new_init_r">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Agregar nuevo requisito de ingreso</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="frm_add_init_r" method="post">
                                        {% csrf_token %}
                                        <div class="modal-body alert alert-success">

                                            <div class="form-row align-items-center pb-2" id="div_new_r_title">
                                                <div class="form-group col-md-12">
                                                    <label for="inp_init_r_name">Nombre:</label>
                                                    <input type="text" class="form-control" id="inp_init_r_name" name="init_r_name" placeholder="Nombre del requisito" maxlength="100"  required>
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <div class="icheck-primary d-inline ">
                                                        <input type="checkbox" id="inp_init_r_nat" name="init_r_nat" title="Marcar si el requisito es solo para nacionales">
                                                        <label for="inp_init_r_nat" title="Marcar si el requisito es solo para nacionales">Solo para nacionales??
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="icheck-primary d-inline ">
                                                        <input type="checkbox" id="inp_init_r_old" name="init_r_get_old" title="Marcar si el requisito caduca">
                                                        <label for="inp_init_r_old" title="Marcar si el requisito caduca al paso del tiempo">Caduca??
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <select class="form-control" id="slc_init_r_type" name="init_r_type" required>
                                                        <option value="" selected>Responsable(seleccionar uno)**</option>
                                                        <option value="student" >Estudiante</option>
                                                        <option value="program" >Programa</option>
                                                        <option value="comission" >Comisión de grados</option>
                                                    </select>
                                                </div>

                                            </div>



                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success" id="btn_submit_init_r">Enviar</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

                    </div>
                    <!-- /.card -->



                    <!-- /.card -->

                    <!-- Input addon -->
                    <!-- /.card -->
                    <!-- Horizontal Form -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}

<!-- jQuery -->
{% block  extra_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 7000
            });

            var bg_numbers = {{ program.programbackgrounds_set.all.count }};
            var init_r_numbers = {{ program_init_requirenments.count }};
            var finish_r_numbers = {{ program_finish_requirenments.count }};
            var bg2delete_id = '';
            var r2delete_id = '';


            $("#frm_add_background").submit( function (e) {

                e.preventDefault();
                var data = new FormData($('#frm_add_background').get(0));

                var url = "{% url 'programs:ajx_upload_background' program.slug %}";

                $.ajax({
                    url : url,
                    type : "POST", // http method
                    data : data, // data sent with the post request
                    cache: false,
                    processData: false,
                    contentType: false,


                    // handle a successful response
                    success : function(json) {

                        if (json[0].updated == '1') {
                            $('.modal').modal('hide');
                            var new_bg = '<div class="row pb-2" id="div_bg_'+json[0].bg_id+'"> <div class="col-md-10">'+
                                '<a class="" id="a_bg_name_'+json[0].bg_id+'" href="">'+json[0].bg_name+'</a>'+
                                '</div>'+
                                '<div class="col-md-2 text-center">'+
                                '<div class="btn-group btn-group-sm">'+
                                '<button type="button" class="btn btn-sm btn-warning" id="btn_show_edit_bg_modal_'+json[0].bg_id+'" data-toggle="modal" data-target="#modal_edit_bg" data="'+json[0].bg_id+'" title="Cambiar background"><i class="fa fa-edit"></i> </button>'+
                                '<button type="button" class="btn btn-sm btn-danger" id="btn_show_rm_bg_modal_'+json[0].bg_id+'" data-toggle="modal" data-target="#modal_rm_bg" data="'+json[0].bg_id+'" title="Eliminar background"><i class="fa fa-eraser"></i> </button>'+
                                '</div>'+
                                '</div>'+
                                '</div>';
                            bg_numbers += 1;
                            if(bg_numbers == 1){
                                $('#no_bgs').replaceWith(new_bg);
                            }
                            else{
                                $(new_bg).insertAfter('#div_backgrounds');
                            }


                            Toast.fire({
                                type: 'success',
                                title: 'Background actualizado exitosamente'
                            })

                        } else if(json[0].updated == '0'){
                            $('.modal').modal('hide');
                            Toast.fire({
                                type: 'error',
                                title: 'No se ha podido actualizar el background.Errores:'+ json[0].errors
                            })

                        }
                        else if(json[0].updated == '2'){
                            $('.modal').modal('hide');
                            Toast.fire({
                                type: 'error',
                                title: 'No se ha podido actualizar el background: el metodo no es POST.'
                            })

                        }
                        else if(json[0].updated == '3'){
                            $('.modal').modal('hide');
                            Toast.fire({
                                type: 'error',
                                title: 'No se ha podido actualizar el background: El usuario no es el propietario del perfil.'
                            })

                        }

                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check


                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        Toast.fire({
                            type: 'error',
                            title: 'Uff, ha ocurrido algo desconocido al agregar el nuevo background.'
                        })
                    }
                });

            });

            $('#frm_edit_background').submit( function (e) {

                e.preventDefault();

                var data = new FormData($('#frm_edit_background').get(0));

                var url = "{% url 'programs:ajx_edit_background' program.slug %}";

                $.ajax({
                    url : url,
                    type : "POST", // http method
                    data : data, // data sent with the post request
                    cache: false,
                    processData: false,
                    contentType: false,


                    // handle a successful response
                    success : function(json) {

                        if (json[0].updated == '1') {
                            $('.modal').modal('hide');
                            $('#a_bg_name_'+json[0].bg_id).text(json[0].bg_name)

                            Toast.fire({
                                type: 'success',
                                title: 'Background actualizado exitosamente'
                            })

                        } else if(json[0].updated == '0'){
                            $('.modal').modal('hide');
                            Toast.fire({
                                type: 'error',
                                title: 'No se ha podido actualizar el background.Errores:'+ json[0].errors
                            })

                        }
                        else if(json[0].updated == '2'){
                            $('.modal').modal('hide');
                            Toast.fire({
                                type: 'error',
                                title: 'No se ha podido actualizar el background: el metodo no es POST.'
                            })

                        }
                        else if(json[0].updated == '3'){
                            $('.modal').modal('hide');
                            Toast.fire({
                                type: 'error',
                                title: 'No se ha podido actualizar el background: El usuario no es el propietario del perfil.'
                            })

                        }

                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check


                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        Toast.fire({
                            type: 'error',
                            title: 'Uff, ha ocurrido algo desconocido al editar el background.'
                        })
                    }
                });

            });

            $('#frm_add_init_r').submit( function (e) {

                e.preventDefault();
                var data = new FormData($('#frm_add_init_r').get(0));

                var url = "{% url 'programs:ajx_new_requirenment' program.slug 'init' %}";

                $.ajax({
                    url : url,
                    type : "POST", // http method
                    data : data, // data sent with the post request
                    cache: false,
                    processData: false,
                    contentType: false,


                    // handle a successful response
                    success : function(json) {

                        if (json[0].updated == '1') {

                            var r_type = '';
                            var r_get_old = '';

                            $('.modal').modal('hide');
                            if(json[0].r_type=="student"){
                                var r_type = '<i class="text-success fa fa-user" title="Elaborado por el estudiante"></i>'
                            }
                            else if (json[0].r_type=="program"){
                                var r_type = '<i class="text-primary fa fa-user-graduate" title="Elaborado por el Comite del programa"></i>'

                            }
                            else if (json[0].r_type=="comission"){
                                var r_type = '<i class="text-warning fa fa-graduation-cap" title="Elaborado por la Comision de Grados de la Institucion"></i>'

                            }
                            if(json[0].r_get_old)
                            {
                                r_get_old = '<i class="fa fa-toggle-on text-success" title="Si"></i>';
                            }
                            else {
                                r_get_old = '<i class="fa fa-toggle-off text-danger" title="No"></i>';
                            }



                            var new_r = '<div class="row pt-1 pb-1 align-items-baseline" id="div_r_'+json[0].r_id+'">'+
                                '<div class="col-md-7 col-sm-4">'+
                                '<h6>'+json[0].r_name+'</h6>'+
                                '</div>'+
                                '<div class="col-md-2 col-sm-1 text-center">'+
                                r_type+
                                '</div>'+

                                '<div class="col-md-1 col-sm-1 text-center">'+
                                r_get_old+

                                '</div>'+
                                '<div class="col-md-2 col-sm-4 text-center">'+
                                '<div class="btn-group btn-group-sm">'+
                                '<button type="button" class="btn btn-sm btn-warning" id="btn_edit_r_'+json[0].r_id+'" data="'+json[0].r_id+'" title="Cambiar requisito"><i class="fa fa-edit"></i> </button>'+
                                '<button type="button" class="btn btn-sm btn-danger" id="btn_rm_r_'+json[0].r_id+'" data="'+json[0].r_id+'" title="Eliminar requisito"><i class="fa fa-eraser"></i> </button>'+
                                ' </div>'+


                                '</div>'+
                                '</div>';

                            init_r_numbers += 1;
                            if (init_r_numbers == 1){
                                var div_init_requirenments_cols = '<div class="row" id="div_init_requirenments_cols">'+
                                    '<div class="col-md-7"><strong>Nombre del requisito</strong></div>'+
                                    '<div class="col-md-2 text-center"><strong>Responsable</strong></div>'+
                                    '<div class="col-md-1 text-center"><strong>Caduca</strong></div>'+
                                    ' <div class="col-md-2"></div>'+
                                    '</div>';
                                $(div_init_requirenments_cols).insertAfter($('#div_init_requirenments_pres'));
                                $(new_r).insertAfter($('#div_init_requirenments_cols'));
                            }
                            else{
                                $(new_r).insertAfter($('#div_init_requirenments_cols'));
                            }

                            Toast.fire({
                                type: 'success',
                                title: 'Requisito de ingreso agregado exitosamente'
                            })

                        }
                        else if(json[0].updated == '0'){
                            $('.modal').modal('hide');
                            Toast.fire({
                                type: 'error',
                                title: 'No se ha podido agregar el requisito de ingreso.Errores:'+ json[0].errors
                            })

                        }
                        else if(json[0].updated == '2'){
                            $('.modal').modal('hide');
                            Toast.fire({
                                type: 'error',
                                title: 'No se ha podido agregar el requisito de ingreso: el metodo no es POST.'
                            })

                        }
                        else if(json[0].updated == '3'){
                            $('.modal').modal('hide');
                            Toast.fire({
                                type: 'error',
                                title: 'No se ha podido agregar el requisito de ingreso: El usuario no tiene privilegios.'
                            })

                        }
                        else if(json[0].updated == '4'){
                            $('.modal').modal('hide');
                            Toast.fire({
                                type: 'error',
                                title: 'No se ha podido agregar el requisito de ingreso. El contexto debe ser "init" o "finish".'
                            })

                        }

                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check


                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        Toast.fire({
                            type: 'error',
                            title: 'Uff, ha ocurrido algo desconocido al agregar el nuevo requisito.'
                        })
                    }
                });

            });

            $(document).on('hidden.bs.modal','#modal_add_program_background', function () {
                $('#frm_add_background')[0].reset();
            });
            $(document).on('hidden.bs.modal','#modal_add_new_init_r', function () {
                $('#frm_add_init_r')[0].reset();
            });
            $(document).on('click',"button[id*='btn_show_rm_bg_modal']", function (e) {
                bg2delete_id = $(this).attr('data');
            });
            $(document).on('click',"button[id*='btn_rm_r']", function (e) {
                r2delete_id = $(this).attr('data');
                alert(r2delete_id);
            });
            $(document).on('click',"button[id*='btn_show_edit_bg_modal']", function (e) {
                $('#inp_bg_id').val($(this).attr('data'));
            });
            $('#btn_rm_bg').click(function (){

                var url = "{% url 'programs:ajx_delete_bg' program.slug  %}";

                $.ajax({
                    url : url,
                    type : "POST", // http method
                    data : {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                        'bg_id':bg2delete_id,
                    }, // data sent with the post request

                    // handle a successful response
                    success : function(json) {

                        if (json[0].deleted == 1) {
                            $('#div_bg_'+bg2delete_id).remove()

                            Toast.fire({
                                type: 'success',
                                title: 'Background eliminado exitosamente'
                            })

                            bg_numbers -= 1;

                            if(bg_numbers == 0){
                                var no_bgs_div =' <div class="row" id="no_bgs">'+
                                    '<div class="alert alert-info col-md-10 offset-1 text-center">'+
                                    '<h5 class="">No se han agregado backgrounds a la portada del programa</h5>'+
                                    '</div>'+
                                    '</div>';

                                $(no_bgs_div).insertAfter($('#div_backgrounds'));
                            }

                        } else if(json[0].deleted == 0){
                            Toast.fire({
                                type: 'error',
                                title: 'Error de método, debe ser POST'
                            });


                        } else if(json[0].deleted == 2){
                            Toast.fire({
                                type: 'error',
                                title: 'Uff ha ocurrido un error desconocido'
                            });


                        }

                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check




                        {#$('#div_by_workshop').removeClass('hidden')#}

                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            });
        });
    </script>
{% endblock %}

</body>
</html>
