{% extends 'programs/base.html' %}
{% load static %}
{% load extra_tags %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Editar ajustes del programa</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'programs:home' program.slug %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Editar programa</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Programa</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post" enctype="multipart/form-data" action="{% url 'programs:edit_program' program.slug %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inp_fullname">Nombre completo:</label>
                                        <input type="text" class="form-control" id="inp_fullname" name="program_fullname" placeholder="Nombre completo del programa" maxlength="150" value="{{ program.full_name }}" required>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inp_shortname">Nombre corto:</label>
                                        <input type="text" class="form-control" id="inp_shortname" name="program_shortname" placeholder="Nombre corto del programa" maxlength="40" value="{{ program.short_name }}" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inp_email">Correo del programa:</label>
                                        <input type="email" class="form-control" id="inp_email" name="program_email" placeholder="Correo electrónico del programa" maxlength="" value="{{ program.email }}" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inp_phone">Teléfono:</label>
                                        <input type="tel" class="form-control" id="inp_phone" name="program_phone" placeholder="Teléfono del programa" maxlength="20" value="{{ program.phone }}" required>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inp_address">Dirección postal del programa:</label>
                                        <input type="text" class="form-control" id="inp_address" name="program_address" placeholder="Dirección postal del programa" maxlength="150" value="{{ program.address }}" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inp_center">Centro coordinador:</label>
                                        <input type="text" class="form-control" id="inp_center" name="program_center" placeholder="Centro coordinador del programa" maxlength="120" value="{{ program.center }}" required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="slc_branch">Rama del Programa:</label>
                                        <select class="form-control" id="slc_branch" name="program_branch"  required>
                                            <option value="" selected>Seleccione una opción</option>
                                            <option value="CT" {% if program.branch == 'CT' %}selected{% endif %}>Ciencias Técnicas</option>
                                            <option value="CA" {% if program.branch == 'CA' %}selected{% endif %}>Ciencias Agrícolas</option>
                                            <option value="CP" {% if program.branch == 'CP' %}selected{% endif %}>Ciencias Pedagógicas</option>
                                            <option value="CNE" {% if program.branch == 'CNE' %}selected{% endif %}>Ciencias Naturales y Exactas</option>
                                            <option value="CSH" {% if program.branch == 'CSH' %}selected{% endif %}>Ciencias Sociales y Humanísticas</option>
                                            <option value="CE" {% if program.branch == 'CE' %}selected{% endif %}>Ciencias Económicas</option>
                                            <option value="Arte" {% if program.branch == 'Arte' %}selected{% endif %}>Ciencias del Arte</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inp_code">Código del programa:</label>
                                        <input type="text" class="form-control" id="inp_code" name="program_code" placeholder="Código del programa según clasificador" maxlength="120" value="{{ program.code }}" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row" id="div_backgrounds">
                                    <div class="col-md-11">
                                        <h5>Backgrounds de la portada</h5>

                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_add_program_background" title="Agregar background"><i class="fa fa-plus"></i> </button>
                                    </div>
                                </div>
                                {% if program.programbackgrounds_set.all %}
                                    {% for background in program.programbackgrounds_set.all %}
                                        <div class="row">
                                            <div class="col-md-10">
                                                <a class="" href="">{{ background.background.name }}</a>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="btn-group btn-group-sm">
                                                    <button type="button" class="btn btn-sm btn-warning" title="Cambiar background"><i class="fa fa-edit"></i> </button>
                                                    <button type="button" class="btn btn-sm btn-danger" title="Eliminar background"><i class="fa fa-eraser"></i> </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="row">
                                        <div class="alert alert-info col-md-10 offset-1 text-center">
                                            <h5 class="">No se han agregado backgrounds a la portada del programa</h5>
                                        </div>
                                    </div>
                                {% endif %}
                                <hr>
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5>Requisitos de ingreso al programa</h5>

                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button type="button" class="btn btn-sm btn-primary" title="Agregar requisito de ingreso"><i class="fa fa-plus"></i> </button>
                                    </div>
                                </div>
                                {% if program.programfiledoc_set.all %}
                                    <div class="row">
                                        <div class="col-md-7"><strong>Nombre del requisito</strong></div>
                                        <div class="col-md-2 text-center"><strong>Responsable</strong></div>
                                        <div class="col-md-1 text-center"><strong>Caduca</strong></div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    {% for filedoc in program.programfiledoc_set.all %}
                                        {% if filedoc.is_init_requirenment %}
                                            <div class="row pt-1 pb-1 align-items-baseline">
                                                <div class="col-md-7 col-sm-4">
                                                    <h6>{{ filedoc.doc_name|truncatewords:6 }}</h6>
                                                </div>
                                                <div class="col-md-2 col-sm-1 text-center">
                                                    {% if filedoc.type == 'student' %}
                                                        <i class="text-success fa fa-user" title="Elaborado por el estudiante"></i>
                                                    {% elif filedoc.type == 'program' %}
                                                        <i class="text-primary fa fa-user-graduate" title="Elaborado por el Comite del programa"></i>
                                                    {% elif filedoc.type == 'comission' %}
                                                        <i class="text-warning fa fa-graduation-cap" title="Elaborado por la Comision de Grados de la Institucion"></i>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-1 col-sm-1 text-center">
                                                    {% if filedoc.get_old %}
                                                        <i class="fa fa-toggle-on text-success" title="Si"></i>
                                                    {% else %}
                                                        <i class="fa fa-toggle-off text-danger" title="No"></i>

                                                    {% endif %}

                                                </div>
                                                <div class="col-md-2 col-sm-4 text-center">
                                                    <div class="btn-group btn-group-sm">
                                                        <button type="button" class="btn btn-sm btn-warning" title="Cambiar requisito"><i class="fa fa-edit"></i> </button>
                                                        <button type="button" class="btn btn-sm btn-danger" title="Eliminar requisito"><i class="fa fa-eraser"></i> </button>
                                                    </div>


                                                </div>
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <div class="row">
                                        <div class="alert alert-info col-md-10 offset-1 text-center">
                                            <h5 class="">No se han agregado requisitos de ingreso al programa</h5>
                                        </div>
                                    </div>
                                {% endif %}
                                <hr>
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5>Requisitos de egreso del programa</h5>

                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button type="button" class="btn btn-sm btn-primary" title="Agregar requisito de egreso"><i class="fa fa-plus"></i> </button>
                                    </div>
                                </div>
                                {% if program.programfiledoc_set.all %}
                                    <div class="row">
                                        <div class="col-md-7"><strong>Nombre del requisito</strong></div>
                                        <div class="col-md-2 text-center"><strong>Responsable</strong></div>
                                        <div class="col-md-1 text-center"><strong>Caduca</strong></div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    {% for filedoc in program.programfiledoc_set.all %}
                                        {% if filedoc.is_finish_requirenment %}
                                            <div class="row pt-1 pb-1 align-items-baseline">
                                                <div class="col-md-7 col-sm-4">
                                                    <h6>{{ filedoc.doc_name|truncatewords:6 }}</h6>
                                                </div>
                                                <div class="col-md-2 col-sm-1 text-center">
                                                    {% if filedoc.type == 'student' %}
                                                        <i class="text-success fa fa-user" title="Elaborado por el estudiante"></i>
                                                    {% elif filedoc.type == 'program' %}
                                                        <i class="text-primary fa fa-user-graduate" title="Elaborado por el Comite del programa"></i>
                                                    {% elif filedoc.type == 'comission' %}
                                                        <i class="text-warning fa fa-graduation-cap" title="Elaborado por la Comision de Grados de la Institucion"></i>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-1 col-sm-1 text-center">
                                                    {% if filedoc.get_old %}
                                                        <i class="fa fa-toggle-on text-success" title="Si"></i>
                                                    {% else %}
                                                        <i class="fa fa-toggle-off text-danger" title="No"></i>

                                                    {% endif %}

                                                </div>
                                                <div class="col-md-2 col-sm-4 text-center">
                                                    <div class="btn-group btn-group-sm">
                                                        <button type="button" class="btn btn-sm btn-warning" title="Cambiar requisito"><i class="fa fa-edit"></i> </button>
                                                        <button type="button" class="btn btn-sm btn-danger" title="Eliminar requisito"><i class="fa fa-eraser"></i> </button>
                                                    </div>


                                                </div>
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <div class="row">
                                        <div class="alert alert-info col-md-10 offset-1 text-center">
                                            <h5 class="">No se han agregado requisitos de egreso del programa</h5>
                                        </div>
                                    </div>
                                {% endif %}


                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                        <div class="modal fade" id="modal_add_program_background">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Agregar nueva imagen de fondo</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="frm_add_background" method="post">
                                        <div class="modal-body alert alert-success">

                                            <div class="form-row align-items-center pb-2" id="div_tuthor_1">
                                                    <input type="file" class="form-control-file" id="inp_add_background" name="program_backgorund" placeholder="background" required accept=".jpeg, .jpg, .png">




                                            </div>



                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success" id="btn_msg_member_{{ member.id }}">Enviar</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                    <!-- /.card -->



                    <!-- /.card -->

                    <!-- Input addon -->
                    <!-- /.card -->
                    <!-- Horizontal Form -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
</body>
</html>
