{% extends 'programs/base.html' %}
{% load static %}
{% load extra_tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-9">
                <h1>Convocatoria nueva defensa</h1>
            </div>
            <div class="col-sm-3">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'programs:home' program.slug %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Editar convocatoria</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Convocatoria</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data" action="{% url 'programs:edit_phd_announcement' program.slug announcement.id %}">
                        {% csrf_token %}
                        <div class="card-body">
                            {% for message in messages %}


                            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ message}}
                            </div>

                            {% endfor %}

                            <input type="hidden" name="phd_student" value="{{ student.phdstudent.id }}">
                            <input type="hidden" name="thesis" value="{{ student.phdstudent.phdstudentthesis.id }}">
                            <div class="form-row">
                                <div class="col-sm-12 col-md-12 col-lg-3">
                                    {{ announcement_form.type|as_crispy_field }}

                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-3">
                                    {{ announcement_form.date|as_crispy_field }}


                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    {{ announcement_form.place|as_crispy_field }}

                                </div>
                            </div>
                            {{ announcement_form.text|as_crispy_field }}




                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->



                <!-- /.card -->

                <!-- Input addon -->
                <!-- /.card -->
                <!-- Horizontal Form -->
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}

{% block extra_scripts %}
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
        $('#id_date').addClass('value');

    });
</script>
<script>
    $(document).ready(function () {

        $('#id_date').attr('type', 'datetime-local');
        $('#id_date').attr('value', "{{announcement.date|date:'Y-m-d'}}T{{announcement.date|time:'H:i'}}");
        $('#id_place').attr('placeholder','Lugar en que sesionará la defensa de la tesis.P.E: Centro de Convenciones, UNAH')

        $('#id_type').change(function (){
            if ($(this).val() == 'Presencial'){
             $('#id_place').attr('placeholder','Lugar en que sesionará la defensa de la tesis.P.E: Centro de Convenciones, UNAH')
             $('#hint_id_place').text('Lugar en que sesionará la defensa de la tesis')
            }
            else if ($(this).val() == 'On-line'){
             $('#id_place').attr('placeholder','Url de la sala de videoconferencia.P.E: https://meet.jit.si/DefensaCE')
             $('#hint_id_place').text('Url de la videoconferencia')


            }

        });
        $('#id_text').summernote({
            lang: 'es-Es',
            placeholder: "El cuerpo de la convocatoria debe incluir la conformación del tribunal y cualquier otra información que se considere pertinente",
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
            dialogsInBody: true,
            dialogsFade: true,
            height: 200,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                {#['fontname', ['fontname']],#}
                {#['fontsize', ['fontsize']],#}
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link']],
            ],

        });

    });
</script>
{% endblock %}
