{% extends 'programs/base.html' %}
{% load static %}
{% load extra_tags %}


{% block extra_css %}
    <!-- Ionicons -->
    {# <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}"> #}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'programs/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'programs/dist/css/adminlte.min.css' %}">

{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Claustro</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'programs:home' program.slug %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Profesores y tutores</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% if scope == 'all' %}Miembros del claustro {% else %}{{ scope }} {% endif %} de {{  program }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            {% user_is_program_cs user program as user_is_program_cs %}

                            <tr>
                                <th>Nombre y apellidos</th>
                                <th>Rol</th>
                                <th>Email</th>
                                <th>País</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for member in members %}
                                <tr id="tr_member_{{ member.id }}">
                                    <td>{{ member.user.last_name|upper }}, {{ member.user.first_name }}</td>
                                    <td>{{ member.role }}</td>
                                    <td>{{ member.user.email }}</td>
                                    <td>{{ member.country }}</td>

                                    {% if user_is_program_cs %}
                                        <td class="text-center">
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-success btn-sm text-white {% if member.user == user %} disabled {% endif %}"
                                                        title="Enviar mensaje" data-toggle="modal" data-target="#modal_msg_member_{{ member.id }}"> <i class="fa fa-envelope"></i></button>
                                                <a class="btn btn-warning btn-sm text-white" href="{% url 'programs:edit_member' program.slug member.id %}" title="Editar"> <i class="fa fa-edit"></i></a>
                                                <a class="btn btn-danger btn-sm text-white {% if member.user == user %}disabled{% endif %}"  title="Eliminar" data-toggle="modal" data-target="#modal_rm_member_{{ member.id }}"><i class="fa fa-eraser"></i></a>

                                            </div>
                                        </td>
                                    {% else %}
                                        <td class="text-center">
                                            <div class="btn-group" role="group">

                                                <button class="btn btn-success btn-sm text-white {% if member.user == user %} disabled {% endif %}"
                                                        title="Enviar mensaje" data-toggle="modal" data-target="#modal_msg_member_{{ member.id }}"> <i class="fa fa-envelope"></i></button>
                                            </div>
                                        </td>

                                    {% endif %}
                                </tr>
                                <div class="modal fade" id="modal_rm_member_{{ member.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Eliminar profesor</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <span class="text-danger"><i class="fa fa-exclamation-triangle fa-4x"></i></span>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <p class="text-center">¿Seguro que desea eliminar a {{ member }}?<br>Esto no se puede deshacer&hellip;</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_rm_member_{{ member.id }}">Eliminar</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <div class="modal fade" id="modal_msg_member_{{ member.id }}">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Enviar mensaje a {{ member }}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form id="frm_msg_member_{{ member.id }}" method="post">
                                                <div class="modal-body alert alert-success">

                                                    <div class="form-row ">
                                                        <div class="col-md-12">
                                                            <input class="form-control" id="inp_msg_subject_{{ member.id }}" type="text" placeholder="Asunto" name="msg_subject" maxlength="100" required >

                                                            <textarea class="form-control textarea col-md-12" id="txt_msg_body_{{ member.id }}"
                                                                      name="msg_body" placeholder="Texto del mensaje" rows="8" maxlength="500" required ></textarea>
                                                        </div>
                                                        <div class="col-xs-12 text-right">
                                                            <span id="total-characters"></span>
                                                        </div>

                                                    </div>



                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-success" id="btn_msg_member_{{ member.id }}">Enviar</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>

                            {% endfor %}




                            </tbody>
                            <tfoot>
                            {#                            <tr>#}
                            {#                                <th>Nombre y apellidos</th>#}
                            {#                                <th>Fecha solicitud</th>#}
                            {#                                <th>Estado</th>#}
                            {#                                <th class="text-center">Requisitos</th>#}
                            {#                                <th></th>#}
                            {#                            </tr>#}
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        {#        <div class="row">#}
        {#            <div class="col-md-12">#}
        {#                <div class="card card-outline card-info">#}
        {#                    <div class="card-header">#}
        {#                        <h3 class="card-title">#}
        {#                            Bootstrap WYSIHTML5#}
        {#                            <small>Simple and fast</small>#}
        {#                        </h3>#}
        {#                        <!-- tools box -->#}
        {#                        <div class="card-tools">#}
        {#                            <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"#}
        {#                                    title="Collapse">#}
        {#                                <i class="fas fa-minus"></i></button>#}
        {#                            <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"#}
        {#                                    title="Remove">#}
        {#                                <i class="fas fa-times"></i></button>#}
        {#                        </div>#}
        {#                        <!-- /. tools -->#}
        {#                    </div>#}
        {#                    <!-- /.card-header -->#}
        {#                    <div class="card-body pad">#}
        {#                        <div class="mb-3">#}
        {#                <textarea class="textarea" placeholder="Place some text here"#}
        {#                          style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>#}
        {#                        </div>#}
        {#                        <p class="text-sm mb-0">#}
        {#                            Editor <a href="https://github.com/bootstrap-wysiwyg/bootstrap3-wysiwyg">Documentation and license#}
        {#                            information.</a>#}
        {#                        </p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <!-- /.col-->#}
        {#        </div>#}
        {% csrf_token %}
        <!-- /.row -->
    </section>
    <!-- /.content -->

{% endblock %}

{% block extra_scripts %}
    <!-- jQuery -->

    <!-- DataTables -->
    <script src="{% static 'programs/plugins/datatables/jquery.dataTables.js' %}"></script>

    <script src="{% static 'programs/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>

    <script src="{% static 'programs/plugins/summernote/summernote-bs4.js'  %}"></script>

    <script src="{% static 'programs/plugins/summernote/lang/summernote-es-ES.js'  %}"></script>




    <script>
        $(document).ready(function () {

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 7000
            });

            var myTable = $("#example1").DataTable({
                language: {
                    url: '{% static "programs/plugins/datatables/Spanish.json" %}'
                }});
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });


            {% for member in members %}


                $('#txt_msg_body_{{ member.id }}').summernote({
                        lang: 'es-Es',
                        placeholder: 'Escribe el mensaje aquí',
                        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                        dialogsInBody: true,
                        dialogsFade: true,
                        height: 200,
                        toolbar: [
                            // [groupName, [list of button]]
                            ['style', ['bold', 'italic', 'underline', 'clear']],
                            ['font', ['strikethrough', 'superscript', 'subscript']],
                            {#['fontname', ['fontname']],#}
                            {#['fontsize', ['fontsize']],#}
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['table', ['table']],
                        ],

                    }
                );

                $('#btn_rm_member_{{ member.id }}').click(function () {
                    var member_id={{ member.id }};
                    var url = "{% url 'programs:ajx_delete_member' program.slug %}";

                    $('#modal_rm_member_{{ member.id }}').modal('hide');

                    $.ajax({
                        url : url,
                        type : "POST", // http method
                        data : {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                            'member_id':member_id,
                        }, // data sent with the post request

                        // handle a successful response
                        success : function(json) {

                            if (json[0].deleted == 1) {
                                var row = myTable.row( $('#tr_member_{{ member.id }}') );
                                row.remove().draw();

                                Toast.fire({
                                    type: 'success',
                                    title: 'Profesor eliminado exitósamente'
                                })

                            } else if(json[0].deleted == 0){
                                Toast.fire({
                                    type: 'error',
                                    title: 'No se ha podido eliminar al profesor seleccionado.'
                                })

                            }
                            console.log(json); // log the returned json to the console
                            console.log("success"); // another sanity check




                            $('#div_by_workshop').removeClass('hidden')

                        },

                        // handle a non-successful response
                        error : function(xhr,errmsg,err) {
                            Toast.fire({
                                type: 'error',
                                title: 'Uff, ha ocurrido algo desconocido.'
                            })
                        }
                    });

                });
                $('#frm_msg_member_{{ member.id }}').on('submit', function (e) {
                    e.preventDefault();
                    $('#modal_msg_member_{{ member.id }}').modal('hide');
                    var url = "{% url 'programs:ajx_member_personal_msg' program.slug %}";

                    $.ajax({
                        url : url,
                        type : "POST", // http method
                        data : {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                            'member_id': {{ member.id }},
                            'msg_subject': $('#inp_msg_subject_{{ member.id }}').val(),
                            'msg_body': $('#txt_msg_body_{{ member.id }}').val(),
                        }, // data sent with the post request

                        // handle a successful response
                        success : function(json) {

                            if (json[0].sended == 1) {

                                Toast.fire({
                                    type: 'success',
                                    title: 'Mensaje enviado exitósamente'
                                })

                            }
                            else if(json[0].sended == 0){
                                Toast.fire({
                                    type: 'error',
                                    title: 'No se ha podido enviar el mensaje.'
                                })

                            }
                            else if(json[0].sended == 2){
                                Toast.fire({
                                    type: 'error',
                                    title: 'El texto del mensaje es muy largo.'
                                })

                            }
                            console.log(json); // log the returned json to the console

                        },

                        // handle a non-successful response
                        error : function(xhr,errmsg,err) {
                            Toast.fire({
                                type: 'error',
                                title: 'Uff, ha ocurrido algo desconocido.'
                            })
                        }
                    });

                    $('#frm_msg_member_{{ member.id }}')[0].reset();


                });
                $(document).on('hidden.bs.modal','#modal_msg_member_{{ member.id }}', function () {
                    $('#frm_msg_member_{{ member.id }}')[0].reset();
                    $('#txt_msg_body_{{ member.id }}').summernote('code', '');
                })
            {% endfor %}
        });
    </script>
{% endblock %}

