{% extends 'programs/base.html' %}
{% load static %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ program.full_name }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"><a href="">Dashboard</a></li>
                        {#              <li class="breadcrumb-item active">{{ program}}</li>#}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-check"></i></span>

                        <div class="info-box-content">

                                <span class="info-box-text"><a href="{% url 'programs:msc_all_students_list' program.slug 'requesters' %}">Solicitantes</a></span>

                            <span class="info-box-number">
                  {{ requesters }}
                </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>


                            <div class="info-box-content">
                                <span class="info-box-text"><a href="{% url 'programs:msc_all_students_list' program.slug 'aproved' %}">Maestrantes</a></span>
                                <span class="info-box-number">{{ masters }}</span>
                            </div>

                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-graduation-cap"></i></span>

                        <div class="info-box-content">
                                <span class="info-box-text"><a href="{% url 'programs:msc_all_students_list' program.slug 'graduated' %}">Graduados</a></span>
                            <span class="info-box-number">{{ graduated }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><a href="{% url 'programs:members_list' program.slug 'all' %}">Miembros</a></span>
                            <span class="info-box-number">{{program.programmember_set.all.count}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Resumen estadístico</h5>

                            <div class="card-tools">
                                {#                                <button type="button" class="btn btn-tool" data-card-widget="collapse">#}
                                {#                                    <i class="fas fa-minus"></i>#}
                                {#                                </button>#}
                                {#                                <div class="btn-group">#}
                                {#                                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">#}
                                {#                                        <i class="fas fa-wrench"></i>#}
                                {#                                    </button>#}
                                {#                                    <div class="dropdown-menu dropdown-menu-right" role="menu">#}
                                {#                                        <a href="#" class="dropdown-item">Action</a>#}
                                {#                                        <a href="#" class="dropdown-item">Another action</a>#}
                                {#                                        <a href="#" class="dropdown-item">Something else here</a>#}
                                {#                                        <a class="dropdown-divider"></a>#}
                                {#                                        <a href="#" class="dropdown-item">Separated link</a>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                  <button type="button" class="btn btn-tool" data-card-widget="remove">#}
                                {#                    <i class="fas fa-times"></i>#}
                                {#                  </button>#}
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <p class="text-center">
                                        <strong>Solicitudes de ingreso vs Ingresos</strong>
                                    </p>


                                    <div class="chart" id="div_requestChart">
                                        <!-- Sales Chart Canvas -->
                                        <canvas id="requestChart" height="280" style="height: 230px;"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->

                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>


                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Resumen estadístico</h5>

                            <div class="card-tools">
                                {#                                <button type="button" class="btn btn-tool" data-card-widget="collapse">#}
                                {#                                    <i class="fas fa-minus"></i>#}
                                {#                                </button>#}
                                {#                                <div class="btn-group">#}
                                {#                                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">#}
                                {#                                        <i class="fas fa-wrench"></i>#}
                                {#                                    </button>#}
                                {#                                    <div class="dropdown-menu dropdown-menu-right" role="menu">#}
                                {#                                        <a href="#" class="dropdown-item">Action</a>#}
                                {#                                        <a href="#" class="dropdown-item">Another action</a>#}
                                {#                                        <a href="#" class="dropdown-item">Something else here</a>#}
                                {#                                        <a class="dropdown-divider"></a>#}
                                {#                                        <a href="#" class="dropdown-item">Separated link</a>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                  <button type="button" class="btn btn-tool" data-card-widget="remove">#}
                                {#                    <i class="fas fa-times"></i>#}
                                {#                  </button>#}
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <!-- /.col -->
                                <div class="col-md-12 col-sm-12">
                                    <p class="text-center">
                                        <strong>Estudiantes por estado</strong>
                                    </p>

                                    <div class="chart-responsive" id="div_donutChart">
                                        <canvas id="donutChart" height="187"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small" id="div_legend">
                                    <span class="mr-2">
                                      <i class="fas fa-exclamation-triangle text-warning"></i> Mueva el cursor sobre las lineas
                                    </span>

                                    </div>
                                    <!-- /.progress-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>


                    </div>
                    <!-- /.card -->
                </div>


                <!-- /.col -->
            </div>
            <div class="row">
                <div class="col-md-4">

                    <!-- USERS LIST -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Últimos solicitantes</h3>

                            <div class="card-tools">
                                <span class="badge badge-info">Total: {{ requesters }} solicitante{{ requesters|pluralize }}</span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                </button>
                                {#                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>#}
                                {#                      </button>#}
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            {% if last_requesters.count > 0 %}
                                <ul class="users-list clearfix">
                                    {% for requester in last_requesters %}
                                        <li>
                                            {% if requester.student.picture %}
                                                <img src="{% url 'programs:program_student_picture' program.slug requester.id %}" alt="User Image">
                                            {% else %}
                                                <i class="text-info fa fa-user fa-5x" ></i>
                                            {% endif %}
                                            <a class="users-list-name" href="{% url 'programs:edit_msc_student' program.slug requester.edition.id requester.id %}">{{ requester}}</a>
                                            <span class="users-list-date">{{ requester.student.request_date|date:'Y-m-d'}}</span>
                                        </li>
                                    {% endfor %}

                                </ul>

                            {% else %}
                                <ul class="users-list clearfix">
                                    <li>
                                        <img src="{% static 'programs/dist/img/user1-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Alexander Pierce</a>
                                        <span class="users-list-date">Today</span>
                                    </li>
                                    <li>
                                        <img src="{% static 'programs/dist/img/user8-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Norman</a>
                                        <span class="users-list-date">Yesterday</span>
                                    </li>

                                    <li>
                                        <img src="{% static 'programs/dist/img/user4-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Nora</a>
                                        <span class="users-list-date">15 Jan</span>
                                    </li>
                                    <li>
                                        <img src="{% static 'programs/dist/img/user3-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Nadia</a>
                                        <span class="users-list-date">15 Jan</span>
                                    </li>
                                </ul>
                            {% endif %}
                            <!-- /.users-list -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-center">

                                <a href="{% url 'programs:msc_all_students_list' program.slug 'requesters' %}">Ver todos los solicitantes</a>

                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!--/.card -->

                </div>

                <div class="col-md-4">

                    <!-- USERS LIST -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Últimos ingresos</h3>

                            <div class="card-tools">


                                    <span class="badge badge-danger">Total: {{ masters }} maestrante{{ masters|pluralize }}</span>

                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                </button>
                                {#                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>#}
                                {#                      </button>#}
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            {% if last_aproved.count > 0 %}
                                <ul class="users-list clearfix">
                                    {% for requester in last_aproved %}

                                            <li>
                                                {% if requester.picture %}
                                                    <img src="{% url 'programs:program_student_picture' program.slug requester.id %}" alt="User Image">
                                                {% else %}
                                                    <i class="text-danger fa fa-user fa-5x" ></i>
                                                {% endif %}
                                                <a class="users-list-name" href="{% url 'programs:edit_msc_student' program.slug requester.edition.id requester.id  %}">{{ requester }}</a>
                                                <span class="users-list-date">{{ requester.request_date|date:'Y-m-d'}}</span>
                                            </li>


                                    {% endfor %}

                                </ul>

                            {% else %}
                                <ul class="users-list clearfix">
                                    <li>
                                        <img src="{% static 'programs/dist/img/user1-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Alexander Pierce</a>
                                        <span class="users-list-date">Today</span>
                                    </li>
                                    <li>
                                        <img src="{% static 'programs/dist/img/user8-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Norman</a>
                                        <span class="users-list-date">Yesterday</span>
                                    </li>

                                    <li>
                                        <img src="{% static 'programs/dist/img/user4-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Nora</a>
                                        <span class="users-list-date">15 Jan</span>
                                    </li>
                                    <li>
                                        <img src="{% static 'programs/dist/img/user3-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Nadia</a>
                                        <span class="users-list-date">15 Jan</span>
                                    </li>
                                </ul>
                            {% endif %}
                            <!-- /.users-list -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-center">
                            <a href="{% url 'programs:msc_all_students_list' program.slug 'aproved' %}">

                                    Ver todos los maestrantes

                            </a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!--/.card -->

                </div>

                <div class="col-md-4">

                    <!-- USERS LIST -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Últimos graduados</h3>

                            <div class="card-tools">
                                <span class="badge badge-success">Total: {{ graduated }} graduado{{ graduated|pluralize }}</span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                </button>
                                {#                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>#}
                                {#                      </button>#}
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            {% if last_graduated.count > 0 %}
                                <ul class="users-list clearfix">
                                    {% for requester in last_graduated %}
                                        <li>
                                            {% if requester.picture %}
                                                <img src="{% url 'programs:program_student_picture' program.slug requester.id %}" alt="User Image">
                                            {% else %}
                                                <i class="text-success fa fa-user fa-5x" ></i>
                                            {% endif %}
                                            <a class="users-list-name" href="{% url 'programs:edit_msc_student' program.slug requester.edition.id requester.id %}">{{ requester.student}}</a>
                                            <span class="users-list-date">{{ requester.request_date|date:'Y-m-d'}}</span>
                                        </li>
                                    {% endfor %}

                                </ul>

                            {% else %}
                                <ul class="users-list clearfix">
                                    <li>
                                        <img src="{% static 'programs/dist/img/user1-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Alexander Pierce</a>
                                        <span class="users-list-date">Today</span>
                                    </li>
                                    <li>
                                        <img src="{% static 'programs/dist/img/user8-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Norman</a>
                                        <span class="users-list-date">Yesterday</span>
                                    </li>

                                    <li>
                                        <img src="{% static 'programs/dist/img/user4-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Nora</a>
                                        <span class="users-list-date">15 Jan</span>
                                    </li>
                                    <li>
                                        <img src="{% static 'programs/dist/img/user3-128x128.jpg' %}" alt="User Image">
                                        <a class="users-list-name" href="#">Nadia</a>
                                        <span class="users-list-date">15 Jan</span>
                                    </li>
                                </ul>
                            {% endif %}
                            <!-- /.users-list -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-center">
                            <a href="{% url 'programs:students_list' program.slug 'graduated' %}">Ver todos los graduados</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!--/.card -->

                </div>
            </div>
            <!-- /.row -->

            <!-- Main row -->
            <!-- /.row -->
        </div><!--/. container-fluid -->
    </section>
{% endblock %}

{% block extra_scripts %}
    <script>
        $(document).ready(function () {
            var div_court='<div class="jumbotron" style="height: 205px;">'+
                '<h3 class="text-center"><i class="text-warning fas fa-exclamation-triangle"></i> No hay datos disponibles. </h3>'+
                '</div>';

            $.ajax({
                url : "{% url 'programs:ajx_this_year_requests' program.slug %}", // the endpoint
                type : "GET", // http method
                data : {
                }, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    var total = 0;
                    for(var i=0;i<json[1][0].length;i++){

                        total = total + json[1][0][i]+json[1][1][i];

                    }
                    if(total>0){
                        var areaChartData = {
                            labels  : json[0],
                            datasets: [
                                {
                                    label               : 'Solicitudes de ingreso',
                                    backgroundColor     : 'rgba(55,66,255,0.6)',
                                    borderColor         : 'rgba(11,15,255,0.8)',
                                    pointRadius          : 2,
                                    pointColor          : '#3b8bba',
                                    pointStrokeColor    : 'rgba(60,141,188,1)',
                                    pointHighlightFill  : '#fff',
                                    pointHighlightStroke: 'rgba(60,141,188,1)',
                                    data                : json[1][0],
                                },
                                {
                                    label               : 'Ingresos',
                                    backgroundColor     : 'rgba(2,255,0,0.9)',
                                    borderColor         : 'rgba(20,188,18,0.8)',
                                    pointRadius          : 2,
                                    pointColor          : '#153bba',
                                    pointStrokeColor    : 'rgba(60,141,188,1)',
                                    pointHighlightFill  : '#fff',
                                    pointHighlightStroke: 'rgba(60,141,188,1)',
                                    data                : json[1][1],
                                },

                            ]
                        };

                        var areaChartOptions = {
                            maintainAspectRatio : false,
                            responsive : true,
                            legend: {
                                display: false
                            },
                            scales: {
                                xAxes: [{
                                    gridLines : {
                                        display : false,
                                    }
                                }],
                                yAxes: [{

                                    gridLines : {
                                        display : false,
                                    },

                                }]
                            }
                        };
                        var areaChartCanvas=$('#requestChart');
                        var areaChart       = new Chart(areaChartCanvas, {
                            type: 'line',
                            data: areaChartData,
                            options: areaChartOptions
                        });
                        console.log(json);
                    }

                    else {

                        $('#div_requestChart').replaceWith(div_court);

                    }

                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });

            $.ajax({
                url : "{% url 'programs:ajx_students_by_state' program.slug %}", // the endpoint
                type : "GET", // http method
                data : {
                }, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    var total = 0;
                    for(var i=0;i<json.length;i++){
                        total = total+json[i];
                    }
                    if(total>0){
                        var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
                        var donutData        = {
                            labels: [ 'Graduados', 'Solicitantes', 'Doctorandos'

                            ],
                            datasets: [
                                {
                                    data: json,
                                    backgroundColor : ['#f56954', '#00a65a', '#0000ff'],
                                }
                            ]
                        };
                        var donutOptions     = {
                            maintainAspectRatio : false,
                            responsive : true,
                            legend: {
                                display: false,
                            },

                        };
                        //Create pie or douhnut chart
                        // You can switch between pie and douhnut using the method below.
                        var donutChart = new Chart(donutChartCanvas, {
                            type: 'doughnut',
                            data: donutData,
                            options: donutOptions
                        });
                    }
                    else {
                        $('#div_donutChart').replaceWith(div_court);
                        $('#div_legend').remove();

                    }

                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });





        });
    </script>
{% endblock %}