{% load static %}
{% load extra_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ program.full_name }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{% static 'programs/index/img/favicon.png' %}" rel="icon">
    <link href="{% static 'programs/index/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'programs/index/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'programs/index/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'programs/index/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'programs/index/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'programs/index/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'programs/index/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'programs/index/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'programs/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">

    <!-- Main Stylesheet File -->
    <link href="{% static 'programs/index/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Reveal
      Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body id="body">

<!--==========================
  Top Bar
============================-->
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
        <div class="contact-info float-left">
            <i class="fa fa-envelope-o"></i> <a href="mailto:{{ program.email }}">{{ program.email }}</a>
            <i class="fa fa-phone"></i> {{ program.phone }}
        </div>
        <div class="social-links float-right">
            <a href="{{ program.tw_contact}}" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="{{ program.fb_contact}}" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="{% url 'log:index' %}" class="facebook" title="Ir al inicio del sitio"><i class="fa fa-home"></i></a>

        </div>
    </div>
</section>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="#body" class="scrollto">Doctorado</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#body"><img src="{% static 'programs/index/img/logo.png' %}" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#body">Home</a></li>
                <li><a href="#about">{% if not lines %}Acerca de{% else %}Líneas{% endif %}</a></li>

                {#                <li><a href="#portfolio">Portfolio</a></li>#}
                <li><a href="#team">Claustro</a></li>
                {#                <li class="menu-has-children"><a href="">Drop Down</a>#}
                {#                    <ul>#}
                {#                        <li><a href="#">Drop Down 1</a></li>#}
                {#                        <li><a href="#">Drop Down 3</a></li>#}
                {#                        <li><a href="#">Drop Down 4</a></li>#}
                {#                        <li><a href="#">Drop Down 5</a></li>#}
                {#                    </ul>#}
                {#                </li>#}

                {% if public_docs %}
                    <li><a href="#services">Documentos</a></li>
                {% else %}
                    <li><a href="#services">Ayuda</a></li>
                {% endif %}
                {% if news %}
                    <li><a href="#news">Noticias</a></li>
                {% endif %}

                <li><a href="#contact">Login</a></li>

            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro">

    <div class="intro-content">
        <h2>{{ program }}</h2>
        <div>
            <a href="#contact" class="btn-get-started scrollto">Iniciar sesión</a>
            {% if program.self_request %}
                <a href="" data-toggle="modal" data-target="#modal_request_enter" class="btn-projects scrollto">Solicitar ingreso</a>
            {% else %}
                <a href="#team" class="btn-projects scrollto">Claustro</a>
            {% endif %}
        </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
        {% if program.programbackgrounds_set.all.count > 0 %}
            {% for background in program.programbackgrounds_set.all %}
                <div class="item" style="background-image: url({% url 'programs:program_background' program.slug background.id %});"></div>
            {% endfor %}
        {% else %}
            <div class="item" style="background-image: url({% static 'programs/index/img/intro-carousel/1.jpg' %});"></div>
            <div class="item" style="background-image: url({% static 'programs/index/img/intro-carousel/2.jpg' %});"></div>
            <div class="item" style="background-image: url({% static 'programs/index/img/intro-carousel/3.jpg' %});"></div>
            <div class="item" style="background-image: url({% static 'programs/index/img/intro-carousel/4.jpg' %});"></div>
            <div class="item" style="background-image: url({% static 'programs/index/img/intro-carousel/5.jpg' %});"></div>
        {% endif %}
    </div>

</section><!-- #intro -->

<main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 about-img">
                    <img src="{% static 'programs/index/img/about-img.jpg' %}" alt="">
                </div>
                {% if not lines %}

                    <div class="col-lg-6 content">
                        <h2>Formación doctoral en Cuba</h2>
                        <h3>El proceso de formación doctoral contribuye a crear el
                            potencial humano de alta calificación, esencial para el avance de la
                            ciencia, la tecnología y la innovación.</h3>
                        <h3>El Sistema Nacional de Grados Científicos está integrado por los órganos ejecutivos siguientes:</h3>

                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i> la Comisión Nacional de Grados Científicos, que lo preside;</li>
                            <li><i class="ion-android-checkmark-circle"></i> las instituciones autorizadas para la formación de doctores,
                                aprobadas por la Comisión Nacional de Grados Científicos, sus
                                comisiones de grados científicos y comités de doctorado; y</li>
                            <li><i class="ion-android-checkmark-circle"></i> los tribunales de grado.</li>
                        </ul>

                    </div>
                {% else %}
                    <div class="col-lg-6 content">
                        <h2>Líneas de investigación</h2>

                        <ul>
                            {% for line in lines %}
                                <li><i class="ion-android-checkmark-circle"></i> {{ line.name }}</li>
                            {% endfor %}
                        </ul>

                    </div>
                {% endif %}
            </div>

        </div>
    </section><!-- #about -->
    <!-- ============================-->
    <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-lg-left">
                    <h3 class="cta-title">Decreto Ley No. 372</h3>
                    <p class="cta-text"> La Comisión Nacional de Grados Científicos se adscribe al
                        Ministerio de Educación Superior y está presidida por su Ministro, quien
                        la representa ante las entidades nacionales y extranjeras, así como
                        trasmite a la Comisión las orientaciones sobre la política de grados
                        científicos del Estado y el Gobierno.</p>
                </div>
                {#                <div class="col-lg-3 cta-btn-container text-center">#}
                {#                    <a class="cta-btn align-middle" href="#">Call To Action</a>#}
                {#                </div>#}
            </div>

        </div>
    </section><!-- #call-to-action -->


    <section id="team" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Claustro</h2>
            </div>

            <div class="row">
                {% for member in program.programmember_set.all %}
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="pic" >{% if member.picture %}<img src="{% url 'programs:program_member_picture' program.slug member.id %}" style="height: 220px; width: 100%" alt="">{% elif member.sex == 'f' %}<img src="{% static 'programs/dist/img/avatar3.png' %}" alt="">{% elif member.sex == 'm' %}<img src="{% static 'programs/dist/img/avatar5.png' %}" alt="">{% endif %}</div>
                            <div class="details">
                                <h6 class="text-bold">{{member|truncatewords:3}}</h6>
                                <span title="{{ member.degree }}">{{ member.degree|truncatewords:3 }}</span>
                                <span>{{ member.role }}</span>
                                <div class="social">
                                    <a href="{{ member.tw_contact }}"><i class="fa fa-twitter"></i></a>
                                    <a href="{{ member.fb_contact }}"><i class="fa fa-facebook"></i></a>
                                    <a href="{{ member.ln_contact }}"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section><!-- #team -->

    <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-lg-left">
                    <h3 class="cta-title">Decreto Ley No. 372</h3>
                    <p class="cta-text"> Los grados científicos son:
                        <br>
                        <i class="ion-android-checkmark-circle"></i> Doctor en determinada área del conocimiento; y<br>
                        <i class="ion-android-checkmark-circle"></i> Doctor en Ciencias.

                        .</p>
                </div>

            </div>

        </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Services Section
    ============================-->
    {% if public_docs %}
        <section id="services">
            <div class="container">
                <div class="section-header">
                    <h2>Documentos de consulta</h2>
                    <p>Cualquier duda o pregunta adicional la puede enviar al Coordinador del Programa o en su defecto al Secretario del Comité Académico.</p>
                </div>

                {% for doc in public_docs %}

                    {% if forloop.counter == public_docs.count %}
                        <div class="row pt-1 pb-2">
                            <div class="col-md-10 offset-1">
                                <p class="text-primary" title="{{ doc.description }}"><a class="text-primary" href="{% url 'programs:public_program_doc_view' program.slug doc.id %}">{{ doc.description|truncatewords:15 }}</a></p>
                            </div>
                            <div class="col-md-1">
                                <a href="{% url 'programs:public_program_doc_view' program.slug doc.id %}" class="btn btn-sm btn-success"><i class="fa fa-download"></i> </a>
                            </div>

                        </div>
                    {% else %}

                        <div class="row pt-1">
                            <div class="col-md-10 offset-1">
                                <p class="text-primary" title="{{ doc.description }}"><a class="text-primary" href="{% url 'programs:public_program_doc_view' program.slug doc.id %}">{{ doc.description|truncatewords:15 }}</a></p>
                            </div>
                            <div class="col-md-1">
                                <a href="{% url 'programs:public_program_doc_view' program.slug doc.id %}" class="btn btn-sm btn-success"><i class="fa fa-download"></i> </a>
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </section>
    {% else %}
        <section id="services">
            <div class="container">
                <div class="section-header">
                    <h2>Preguntas frecuentes</h2>
                    <p>Cualquier duda o pregunta adicional la puede enviar al Coordinador del Programa o en su defecto al Secretario del Comité Doctoral.</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                            <div class="icon"><i class="fa fa-bar-chart"></i></div>
                            <h4 class="title"><a href="">Sobre la solicitud de matrícula</a></h4>
                            <p class="description text-justify">La solicitud de ingreso se realiza por escrito al Coordinador
                                del Programa, y debe estar acompañada de una foto carnet (2 cm x 2cm),la Carta de Autorización
                                del Jefe Inmediato, el Aval del Jefe de Proyecto, la planilla de datos personales (Modelo 2)
                                y la descripción del tema de investigación.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="box wow fadeInRight">
                            <div class="icon"><i class="fa fa-ticket"></i></div>
                            <h4 class="title"><a href="">Sobre el Ingreso</a></h4>
                            <p class="description text-justify">Una vez el Comité Doctoral haya valorado el tema de investigación
                                presentado, y haya entrevistado al solicitante, siempre que se cumplan los requisitos de ingreso,
                                presenta el expediente a la Comisión de Grados Científicos quien valora y determina el ingreso
                                del aspirante al programa doctoral.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="icon"><i class="fa fa-copy"></i></div>
                            <h4 class="title"><a href="">Sobre los exámenes de mínimo</a></h4>
                            <p class="description text-justify">Los mínimos de Idioma Extranjero y de Problemas Sociales de
                                la Ciencia y la Tecnología son obligatorios, el de la especialidad puede convalidarse, demostrando
                                los conocimientos requeridos del componente teórico metodológico.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="box wow fadeInRight" data-wow-delay="0.2s">
                            <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                            <h4 class="title"><a href="">Sobre la defensa de la tesis.</a></h4>
                            <p class="description text-justify">La defensa de la tesis se realiza una vez el doctorando haya
                                vencido los exámenes de mínimo, las publicaciones (al menos dos, y una en grupos I o II),
                                el ejercicio de predefensa, los eventos requeridos por el programa y a solicitud de los tutores
                                se presente al Tribunal Nacional Permanente en cuestión.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #services -->
    {% endif %}



    <!--==========================
      News Section
    ============================-->
    {% if news %}
        <section id="call-to-action" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center text-lg-left">
                        <h3 class="cta-title">Decreto Ley No. 372</h3>
                        <p class="cta-text"> El grado científico de Doctor en determinada área del
                            conocimiento se otorga a los graduados de nivel universitario que
                            contribuyen significativamente al desarrollo del conocimiento en su tema
                            de investigación y satisfacen a plenitud los requisitos y las evaluaciones
                            correspondientes de sus programas de doctorados.

                            .</p>
                    </div>

                </div>

            </div>
        </section><!-- #call-to-action -->

        <section id="news">
            <div class="container">
                <div class="section-header">
                    <h2>Noticias</h2>
                </div>

                {% for new in news %}

                    <div class="row pt-2">
                        <div class="alert alert-warning align-items-baseline col-md-12">
                            <h4 class="text-center" title="{{ new.title }}">{{ new.title }}</h4>
                        </div>

                    </div>
                    <div class="row pb-3 align-items-stretch">
                        <div class="col-md-10 offset-1">
                            <span class="small pb-3">{{ new.date|date:'d-m-Y' }}</span>

                            <p class="text-justify">
                                {% autoescape off %}
                                    {{ new.body }}
                                {% endautoescape %}
                            </p>
                        </div>

                    </div>
                {% endfor %}

            </div>
        </section>

    {% endif %}



    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-lg-left">
                    <h3 class="cta-title">Decreto Ley No. 372</h3>
                    <p class="cta-text"> El proceso de formación culmina con la defensa ante el tribunal
                        designado de una tesis original que demuestre un grado de madurez
                        científica, su capacidad de enfrentar y resolver problemas complejos de
                        manera independiente y un profundo dominio teórico y práctico del área
                        del conocimiento del programa cursado, a través de la exposición del
                        resultado alcanzado, basado en la solución novedosa de un problema
                        científico teórico o práctico.</p>
                </div>

            </div>

        </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Our Team Section
    ============================-->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Login</h2>
                <p>Por favor introduzca el usuario y la contraseña de este sitio en las casillas correspondientes.</p>
            </div>

            <div class="container">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="{% url 'log:my_login' %}" method="post" role="form" class="contactForm">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="email" name="username" class="form-control" id="name" placeholder="Correo electrónico" data-rule="minlen:6" data-msg="Por favor, introduzca al menos 4 caracteres." />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="password" class="form-control" name="password" id="email" placeholder="Contraseña" data-rule="password" data-msg="Por favor introduzca una contraseña válida." />
                                <div class="validation"></div>
                                <input type="hidden" name="program_slug" value="{{ program.slug }}">
                            </div>
                        </div>


                        <div class="text-center">

                            <button type="submit">Entrar</button><br>

                        </div>
                    </form>
                </div>
                <div class="text-center">
                    <a class="text-primary" href="{% url 'reset_password' %}">Recuperar contraseña</a>
                </div>

            </div>


            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Direccion</h3>
                        <address>{{ program.address }}</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Telefono</h3>
                        <p><a href="tel:{{program.phone}}">{{ program.phone}}</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:{{program.email}}">{{program.email}}</a></p>
                    </div>
                </div>

            </div>
        </div>



    </section><!-- #contact -->

    <div class="modal fade" id="modal_request_enter">
        <div class="modal-dialog modal-lg">
            <form class="form" id="frm_auto_request">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Solicitar ingreso</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="form-group col-md-4">
                                <label for="inp_name">Nombre:</label>
                                <input class="form-control" id="inp_name" type="text" name="name" placeholder="Nombre(s)" maxlength="100" required></input>

                            </div>
                            <div class="form-group col-md-8">
                                <label for="inp_surename">Apellidos:</label>
                                <input class="form-control" type="text" id="inp_surename" name="surename" placeholder="Apellidos" maxlength="100" required></input>

                            </div>

                        </div>
                        <div class="row">

                            <div class="form-group col-md-4">
                                <label for="inp_mail">Correo:</label>
                                <input class="form-control" type="email" id="inp_mail" name="email" placeholder="Correo electrónico" maxlength="100" required></input>

                            </div>
                            <div class="form-group col-md-4">
                                <label for="inp_phone">Teléfono:</label>
                                <input class="form-control" type="tel" id="inp_phone" name="phone" placeholder="Teléfono de contacto" maxlength="100" required></input>

                            </div>
                            <div class="form-group col-md-4">
                                {% current_year as current_year %}
                                {% five_years_ahead as five_years_ahead %}
                                <label for="inp_planned_end_year">Año de defensa:</label>
                                <input class="form-control" type="number" id="inp_planned_end_year" name="planned_end_year" placeholder="Año de defensa previsto" min="{{ current_year }}" max="{{ five_years_ahead }}" required></input>

                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inp_dni">ID o Pasaporte:</label>
                                <input class="form-control" type="text" id="inp_dni" name="dni" placeholder="Número de ID o pasaporte" maxlength="100" required></input>

                            </div>

                            <div class="form-group col-md-4">
                                <label for="slc_gender">Género:</label>
                                <select class="form-control" id="slc_gender" name="gender" required>
                                    <option value="" selected>Seleccione una opción</option>
                                    <option value="f" >Femenino</option>
                                    <option value="m" >Masculino</option>
                                </select>

                            </div>
                            <div class="form-group col-md-4">
                                <label for="inp_name">Fecha de nacimiento:</label>
                                <input class="form-control" type="date" id="inp_birthdate" name="birthdate" value="1960-01-01" required></input>

                            </div>

                        </div>
                        <div class="row">

                            <div class="form-group col-md-12">
                                <label for="inp_name">Tema de investigación:</label>
                                <textarea class="form-control"  id="txt_theme" name="theme" placeholder="Tema de investigación" maxlength="200" rows="3" required></textarea>

                            </div>


                        </div>

                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btn_send_request">Enviar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
        </div>
        <!-- /.modal-dialog -->

    </div>
</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>LATED</strong>. Todos los derechos reservados
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="{% static 'programs/index/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'programs/index/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'programs/index/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'programs/index/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'programs/index/lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'programs/index/lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'programs/index/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'programs/index/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'programs/index/lib/magnific-popup/magnific-popup.min.js' %}"></script>
<script src="{% static 'programs/index/lib/sticky/sticky.js' %}"></script>
<script src="{% static 'programs/plugins/sweetalert2/sweetalert2.min.js' %}"></script>

<!-- Contact Form JavaScript File -->
{#<script src="{% static 'programs/index/contactform/contactform.js' %}"></script>#}

<!-- Template Main Javascript File -->
<script src="{% static 'programs/index/js/main.js' %}"></script>

<script>
    $(document).ready(function (){
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 7000
        });
        $('#frm_auto_request').on('submit', function (e) {
            e.preventDefault();
            $('#modal_request_enter').modal('hide');
            var url = "{% url 'programs:ajx_auto_request' program.slug %}";

            $.ajax({
                url : url,
                type : "POST", // http method
                data : {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                    'name': $('#inp_name').val(),
                    'surename': $('#inp_surename').val(),
                    'email': $('#inp_mail').val(),
                    'phone': $('#inp_phone').val(),
                    'dni': $('#inp_dni').val(),
                    'gender': $('#slc_gender').val(),
                    'birthdate': $('#inp_birthdate').val(),
                    'planned_end_year': $('#inp_planned_end_year').val(),
                    'theme': $('#txt_theme').val(),
                }, // data sent with the post request

                // handle a successful response
                success : function(json) {

                    if (json[0].requested == 1) {

                        Toast.fire({
                            type: 'success',
                            title: 'Solicitud enviada exitosamente. Revise el correo electrónico y siga las instrucciones'
                        })

                    }
                    else if(json[0].requested == 0){
                        Toast.fire({
                            type: 'error',
                            title: 'No se ha podido enviar la solicitud.'
                        })

                    }
                    else if(json[0].requested == 2){
                        Toast.fire({
                            type: 'error',
                            title: 'Al parecer usted tiene una solicitud pendiente o ya es usuario del sistema.'
                        })

                    }
                    console.log(json); // log the returned json to the console

                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    Toast.fire({
                        type: 'error',
                        title: 'Uff, ha ocurrido algo desconocido.'
                    })
                }
            });


        });
        $(document).on('hidden.bs.modal','#modal_request_enter', function () {
            $('#frm_auto_request')[0].reset();
        });
    })
</script>



</body>
</html>
