{% extends 'programs/base.html' %}
{% load static %}
{% load extra_tags %}


{% block extra_css %}
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'programs/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'programs/dist/css/adminlte.min.css' %}">
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Estudiantes</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Estudiantes</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Estudiantes de {{  program }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Nombre y apellidos</th>
                                <th>Fecha solicitud</th>
                                <th>Estado</th>
                                <th class="text-center">Requisitos</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in students %}
                                {% init_requirements_accomplished student program as init_requirements_accomplished %}
                                <tr>
                                    <td>{{ student.user.last_name|upper }}, {{ student.user.first_name }}</td>
                                    <td>{{ student.request_date|date:'m/d/Y' }}</td>
                                    <td>{{ student.phdstudent.status|capfirst }}</td>
                                    <td class="text-center">{% if init_requirements_accomplished %}
                                        <span class="text-success">
                                             <i class="fas fa-check-double" title="Requisitos cumplidos"></i>
                                        </span>
                                    {% else %}
                                        <span class="text-warning">
                                             <i class="fas fa-check" title="Faltan requisitos de ingreso"></i>
                                        </span>
                                    {% endif %} </td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-warning btn-sm"  title="Editar"> <i class="fa fa-edit"></i></button>
                                            <button class="btn btn-danger btn-sm "  title="Eliminar"><i class="fa fa-eraser"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}




                            </tbody>
                            <tfoot>
{#                            <tr>#}
{#                                <th>Nombre y apellidos</th>#}
{#                                <th>Fecha solicitud</th>#}
{#                                <th>Estado</th>#}
{#                                <th class="text-center">Requisitos</th>#}
{#                                <th></th>#}
{#                            </tr>#}
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    </div>
{% endblock %}
{% block extra_scripts %}
    <!-- jQuery -->
    <script src="{% static 'programs/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'programs/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'programs/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'programs/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'programs/dist/js/adminlte.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'programs/dist/js/demo.js' %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
{% endblock %}
</body>
</html>
